Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

fix: eslint 2nd attempt
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

feat: settings profile page (#276)
  frontend/src/hooks.server.ts
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/ui/base-modal.svelte
  frontend/src/lib/pages/settings/profile/avatar-setting.svelte
  frontend/src/lib/pages/settings/profile/banner-setting.svelte
  frontend/src/lib/pages/settings/profile/bio-setting.svelte
  frontend/src/lib/pages/settings/profile/name-setting.svelte
  frontend/src/lib/pages/settings/setting-item.svelte
  frontend/src/lib/schemas/settings.ts
  frontend/src/routes/(app)/settings/+layout.svelte
  frontend/src/routes/(app)/settings/+page.svelte
  frontend/src/routes/(app)/settings/profile/+page.server.ts
  frontend/src/routes/(app)/settings/profile/+page.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/styles/app.css
Due: prettier

refactor: server hook and cookie handle
  frontend/src/hooks.server.ts
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/server/utils/cookie.ts
Due: prettier

revert: extended cloudinary config
  backend/.env.example
  backend/core/settings.py
Due: isort-black

refactor: add new version storage config
  backend/core/settings.py
  backend/requirements.txt
Due: isort-black

feat: handle profile settings avatar and banner upload error
  frontend/src/lib/pages/settings/profile/avatar-setting.svelte
  frontend/src/lib/pages/settings/profile/banner-setting.svelte
Due: prettier

feat: profile delete function with seperate modal
  backend/apps/api/views/user/auth.py
  backend/apps/api/viewsets/user/__init__.py
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: isort-black, prettier

chore: uncomment most important part lol
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

refactor: change delayed to submitting store
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
  frontend/src/routes/(app)/settings/profile/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
  frontend/src/routes/(auth)/verification/+page.svelte
Due: prettier

chore: change pending status logics
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/routes/(app)/settings/profile/+page.server.ts
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

fix: implement guard clause instead of not-null assertion
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

refactor!: superforms delayed store (#278)
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
  frontend/src/routes/(app)/settings/profile/+page.server.ts
  frontend/src/routes/(app)/settings/profile/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
  frontend/src/routes/(auth)/verification/+page.svelte
Due: prettier

chore: remove unnecessary custom account adapter
  backend/core/adapters.py
  backend/core/settings.py
Due: isort-black

refactor: better profile deletion with cookies unset func
  backend/apps/api/utils.py
  backend/apps/api/views/user/auth.py
  backend/apps/api/viewsets/user/__init__.py
  frontend/src/lib/components/header.svelte
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: isort-black, prettier

chore: daisyui remove rootscrollbargutter
  frontend/src/styles/app.css
Due: prettier

chore: remove ref url search param
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/auth/index.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/routes/(app)/settings/+layout.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/(auth)/callback/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

chore: remove unnecessary comment
  frontend/src/routes/(app)/u/[username]/+layout.svelte
Due: prettier

revert: use superforms delayed store
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
  frontend/src/routes/(app)/settings/profile/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
  frontend/src/routes/(auth)/verification/+page.svelte
Due: prettier

fix: raise 404 error on profile not found with error format handler
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/api/viewsets/user/__init__.py
  frontend/src/lib/functions/string/format-error-message.ts
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/u/[username]/+layout.server.ts
Due: isort-black, prettier

refactor: move format function
  backend/apps/api/viewsets/user/__init__.py
  frontend/src/lib/functions/format-error-message.ts
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/u/[username]/+layout.server.ts
Due: isort-black, prettier

fix: raise 404 error on profile not found with error format handler (#281)
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/api/viewsets/user/__init__.py
  frontend/src/lib/functions/format-error-message.ts
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/u/[username]/+layout.server.ts
Due: isort-black, prettier

refactor: initialize authstore in store
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/index.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/features/comments/components/comment-actions.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/settings/+page.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/+layout.svelte
Due: prettier

chore: to snake_case
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/index.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/features/comments/components/comment-actions.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/settings/+page.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/+layout.svelte
Due: prettier

refactor!: self initialize auth_store (#282)
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/index.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/features/comments/components/comment-actions.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/settings/+page.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/+layout.svelte
Due: prettier

refactor: layout type store
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/lib/features/posts/components/posts-header.svelte
  frontend/src/lib/stores/layout-type.svelte.ts
Due: prettier

refactor: modals store
  frontend/src/lib/components/modals/auth/index.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/stores/modals.svelte.ts
Due: prettier

refactor: sidebar-store
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/stores/sidebar.svelte.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

refactor: recent posts store
  frontend/src/lib/features/posts/stores/recent-post.svelte.ts
  frontend/src/lib/features/posts/stores/recent-posts.svelte.ts
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

refactor: stores local_storage keys
  frontend/src/lib/features/posts/stores/recent-posts.svelte.ts
  frontend/src/lib/stores/layout-type.svelte.ts
  frontend/src/lib/stores/sidebar.svelte.ts
Due: prettier

refactor: better toast API
  frontend/src/lib/components/ui/toast/index.ts
  frontend/src/lib/components/ui/toast/toast.svelte.ts
  frontend/src/lib/components/ui/toast/toaster.svelte
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

refactor: better toast API (#283)
  frontend/src/lib/components/ui/toast/index.ts
  frontend/src/lib/components/ui/toast/toast.svelte.ts
  frontend/src/lib/components/ui/toast/toaster.svelte
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

feat: add out transition for toasts
  frontend/src/lib/components/ui/toast/toaster.svelte
Due: prettier

fix: add fallback content for profile selection
  frontend/src/lib/features/auth/components/profile-select.svelte
Due: prettier

chore: add
  frontend/src/lib/features/auth/components/index.ts
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
Due: prettier

refactor: url param based auth routing
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
Due: prettier

chore: add
  frontend/src/routes/(auth)/callback/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
Due: prettier

fix: eslint error
  frontend/src/routes/(auth)/login/+page.svelte
Due: prettier

refactor!: url search params based auth route handle (#284)
  frontend/src/lib/features/auth/components/index.ts
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/callback/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
Due: prettier

feat: delete account endpoint and modal
  backend/apps/api/urls.py
  backend/apps/api/views/user/__init__.py
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(app)/settings/+page.svelte
  frontend/src/routes/(app)/settings/profile/+page.server.ts
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: isort-black, prettier

feat: delete account endpoint and modal (#285)
  backend/apps/api/urls.py
  backend/apps/api/views/user/__init__.py
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(app)/settings/+page.svelte
  frontend/src/routes/(app)/settings/profile/+page.server.ts
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: isort-black, prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
