Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

feat: cache poetry on gh-actions
  .github/workflows/backend.yml
Due: none

test
  backend/manage.py
Due: isort-black

test: change install dir
  .github/workflows/backend.yml
Due: none

test: cache
  .github/workflows/backend.yml
Due: none

test: another cache
  backend/manage.py
Due: isort-black

revert: old steps with cache action
  .github/workflows/backend.yml
Due: none

test: cache
  backend/manage.py
Due: isort-black

refactor: remove userviewsets from api endpoints
  backend/apps/user/api/urls.py
  backend/apps/user/api/viewsets.py
Due: isort-black

fix: remove userview from api tests
  backend/tests/api/user/test_users.py
  backend/tests/conftest.py
Due: isort-black

chore: change adminsite default texts
  backend/core/urls.py
Due: isort-black

refactor: update meta fields of user and quiblets apps
  backend/apps/quiblet/migrations/0019_alter_quib_options.py
  backend/apps/quiblet/models.py
  backend/apps/user/admin.py
  backend/apps/user/migrations/0002_alter_profile_options_alter_user_options.py
  backend/apps/user/models.py
Due: isort-black

refactor: custom permission for quiblet object
  backend/apps/quiblet/api/permissions.py
  backend/apps/quiblet/api/viewsets.py
  backend/shared/permissions.py
Due: isort-black

refactor: rename django project to quibble
  backend/.gitignore
  backend/manage.py
  backend/media/avatar/43c76fef-d190-49be-a1e7-55533ecb9728.jpg
  backend/openapi_desc.md
  backend/pyproject.toml
  backend/quibble/__init__.py
  backend/quibble/asgi.py
  backend/quibble/settings.py
  backend/quibble/urls.py
  backend/quibble/wsgi.py
Due: isort-black

chore: remove media dir
  backend/.gitignore
  backend/media/.gitkeep
  backend/media/avatar/43c76fef-d190-49be-a1e7-55533ecb9728.jpg
Due: isort-black

test: quibble structure
  backend/apps/quiblet/models.py
  backend/apps/user/api/views.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/models.py
  backend/quibble/exceptions/__init__.py
  backend/quibble/mixins/__init__.py
  backend/quibble/mixins/models/__init__.py
  backend/quibble/mixins/models/avatar.py
  backend/quibble/mixins/models/color.py
  backend/quibble/mixins/models/created_at.py
  backend/quibble/mixins/models/is_public.py
  backend/quibble/mixins/models/shortuuid_id.py
  backend/quibble/permissions/__init__.py
  backend/quibble/serializers/__init__.py
  backend/shared/mixins/model_mixins.py
Due: isort-black

chore: remove unncessary folders
  backend/apps/user/models.py
  backend/quibble/exceptions.py
  backend/quibble/mixins/models.py
  backend/quibble/mixins/models/__init__.py
  backend/quibble/mixins/models/avatar.py
  backend/quibble/mixins/models/color.py
  backend/quibble/mixins/models/created_at.py
  backend/quibble/mixins/models/is_public.py
  backend/quibble/mixins/models/shortuuid_id.py
  backend/quibble/permissions.py
  backend/quibble/serializers.py
Due: isort-black

chore: re-migrate everything
  backend/apps/quiblet/migrations/0001_initial.py
  backend/apps/quiblet/migrations/0002_alter_quiblet_members.py
  backend/apps/quiblet/migrations/0002_initial.py
  backend/apps/quiblet/migrations/0003_quiblet_unique_quiblet_name_case_insensitive.py
  backend/apps/quiblet/migrations/0004_quib.py
  backend/apps/quiblet/migrations/0005_alter_quib_quibbler_alter_quib_quiblet.py
  backend/apps/quiblet/migrations/0006_quib_is_draft_alter_quib_quiblet.py
  backend/apps/quiblet/migrations/0007_remove_quib_is_draft_quib_is_public.py
  backend/apps/quiblet/migrations/0008_alter_quib_slug.py
  backend/apps/quiblet/migrations/0009_remove_quib_quibbler_quib_quibber.py
  backend/apps/quiblet/migrations/0010_alter_quib_is_public.py
  backend/apps/quiblet/migrations/0011_alter_quib_id_alter_quiblet_id.py
  backend/apps/quiblet/migrations/0012_alter_quib_id_alter_quiblet_id.py
  backend/apps/quiblet/migrations/0013_alter_quib_id_alter_quiblet_id.py
  backend/apps/quiblet/migrations/0014_alter_quib_id_alter_quiblet_id.py
  backend/apps/quiblet/migrations/0015_alter_quib_slug.py
  backend/apps/quiblet/migrations/0016_alter_quib_id_alter_quib_slug_alter_quiblet_id.py
  backend/apps/quiblet/migrations/0017_alter_quib_id_alter_quiblet_id.py
  backend/apps/quiblet/migrations/0018_alter_quib_quibber_alter_quib_quiblet.py
  backend/apps/quiblet/migrations/0019_alter_quib_options.py
  backend/apps/quiblet/models.py
  backend/apps/user/api/serializers.py
  backend/apps/user/api/views.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/migrations/0002_alter_profile_options_alter_user_options.py
  backend/apps/user/models.py
Due: isort-black

refactor: group shared features
  backend/apps/quiblet/models.py
  backend/apps/user/api/views.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/models.py
  backend/quibble/shared/__init__.py
  backend/quibble/shared/exceptions.py
  backend/quibble/shared/mixins/__init__.py
  backend/quibble/shared/mixins/models.py
  backend/quibble/shared/permissions.py
  backend/quibble/shared/serializers.py
Due: isort-black

refactor: structure a bit more
  backend/.gitignore
  backend/apps/quiblet/models.py
  backend/apps/user/api/views.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/models.py
  backend/common/__init__.py
  backend/common/exceptions.py
  backend/common/mixins.py
  backend/common/permissions.py
  backend/common/serializers.py
  backend/config/__init__.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/config/urls.py
  backend/config/wsgi.py
  backend/deployments/.gitkeep
  backend/docs/openapi_desc.md
  backend/manage.py
  backend/media/.gitkeep
  backend/pyproject.toml
  backend/static/.gitkeep
Due: isort-black

refactor: move quib to separate app and update settings.py
  backend/apps/quib/__init__.py
  backend/apps/quib/admin.py
  backend/apps/quib/apps.py
  backend/apps/quib/migrations/0001_initial.py
  backend/apps/quib/migrations/__init__.py
  backend/apps/quib/models.py
  backend/apps/quiblet/admin.py
  backend/apps/quiblet/migrations/0003_delete_quib.py
  backend/apps/quiblet/models.py
  backend/config/settings.py
Due: isort-black

refactor: re-configure version for api endpoints
  backend/apps/quiblet/api/v1/__init__.py
  backend/apps/quiblet/api/v1/permissions.py
  backend/apps/quiblet/api/v1/serializers.py
  backend/apps/quiblet/api/v1/urls.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/quiblet/models.py
  backend/apps/user/api/v1/__init__.py
  backend/apps/user/api/v1/serializers.py
  backend/apps/user/api/v1/urls.py
  backend/apps/user/api/v1/views.py
  backend/apps/user/api/v1/viewsets.py
  backend/common/api/__init__.py
  backend/common/api/exceptions.py
  backend/common/api/permissions.py
  backend/common/api/serializers.py
  backend/config/urls.py
Due: isort-black

fix: tests with api version endpoints
  backend/tests/__init__.py
  backend/tests/api/__init__.py
  backend/tests/api/user/__init__.py
  backend/tests/api/v1/quib/test_quibs.py
  backend/tests/api/v1/quiblet/test_quiblets.py
  backend/tests/api/v1/user/test_auth.py
  backend/tests/api/v1/user/test_me_profiles.py
  backend/tests/api/v1/user/test_profiles.py
Due: isort-black

refactor: change pytest dirs
  backend/tests/api/conftest.py
  backend/tests/api/v1/test_quiblets.py
  backend/tests/api/v1/test_quibs.py
  backend/tests/api/v1/test_user_auth.py
  backend/tests/api/v1/test_user_me_profiles.py
  backend/tests/api/v1/test_user_profiles.py
  backend/tests/conftest.py
Due: isort-black

refactor: creates profile instance when user is created
  backend/apps/user/apps.py
  backend/apps/user/signals.py
Due: isort-black

feat: integrate django locales and translation
  backend/apps/user/admin.py
  backend/apps/user/forms.py
  backend/apps/user/models.py
  backend/config/settings.py
  backend/locale/en/LC_MESSAGES/django.po
Due: isort-black

chore: include translation commands in poe tasks and update .po
  backend/locale/en/LC_MESSAGES/django.po
  backend/pyproject.toml
Due: isort-black

fix: ignore F401 lint error for line
  backend/apps/user/apps.py
Due: isort-black

fix: quiblet api permission for accessing resource
  backend/apps/quiblet/api/v1/permissions.py
  backend/apps/quiblet/api/v1/viewsets.py
Due: isort-black

refactor: quiblet perform_create verbose match with vibe
  backend/apps/quiblet/api/v1/viewsets.py
Due: isort-black

fix: validation for quiblet unique name api response
  backend/apps/quiblet/api/v1/serializers.py
Due: isort-black

refactor: remove drf 3rd party exception handler
  backend/common/api/handlers.py
  backend/config/settings.py
  backend/poetry.lock
  backend/pyproject.toml
Due: isort-black

feat: openapi-ts integration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/services/.gitkeep
  frontend/src/lib/types/demo.ts
  frontend/src/lib/types/schema.d.ts
  frontend/tsconfig.json
Due: prettier

chore: remove demo
  frontend/src/lib/types/demo.ts
Due: prettier

feat: config openapi-fetch
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/configs/openapi_client.ts
Due: prettier

refactor: nodejs script to generate openapi schema
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate_schema.js
  frontend/src/lib/configs/openapi_client.ts
Due: prettier

chore: config typechecking
  frontend/package.json
Due: prettier

fix: eslint check error
  frontend/scripts/generate_schema.js
Due: prettier

feat: openapi-ts integration (#92)
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate_schema.js
  frontend/src/lib/configs/openapi_client.ts
  frontend/src/lib/services/.gitkeep
  frontend/src/lib/types/schema.d.ts
  frontend/tsconfig.json
Due: prettier

refactor: move openapi to clients
  frontend/scripts/generate_schema.js
  frontend/src/lib/clients/client.ts
  frontend/src/lib/clients/v1.ts
Due: prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
