Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

fix: tyoes
  frontend/src/lib/modals/modal-create-community/index.svelte
Due: prettier

fix: eslint error
  frontend/src/routes/+layout.svelte
Due: prettier

fix: reactive de-structuring of props
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

feat: finalize community creation logic (#168)
  frontend/src/hooks.server.ts
  frontend/src/lib/modals/modal-create-community/forms/type.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/api/communities/+server.ts
Due: prettier

style: change base_modal backdrop layout
  frontend/src/lib/modals/_components/base-modal.svelte
Due: prettier

refactor: toast system to render better inside modals
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/components/ui/toast/toast.svelte.ts
  frontend/src/lib/components/ui/toast/toaster.svelte
  frontend/src/lib/modals/_components/base-modal.svelte
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/(app)/+page.svelte
Due: prettier

refactor: toast system api
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/components/ui/toast/toast.svelte.ts
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/(app)/+page.svelte
Due: prettier

feat: config zod schema and input
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

fix: add file validations
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

fix: media preview oninput
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

chore: native fetch way
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/api/communities/+server.ts
Due: prettier

chore: reset state and add more stuff
  frontend/package-lock.json
  frontend/src/lib/modals/_utils/history.svelte.ts
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/api/communities/+server.ts
Due: prettier

chore: move api path
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/(api)/communities/+server.ts
Due: prettier

fix: eslint error
  frontend/src/routes/(api)/communities/+server.ts
Due: prettier

fix: upload multiple File(s) as form data (#171)
  frontend/package-lock.json
  frontend/src/lib/modals/_utils/history.svelte.ts
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/(api)/communities/+server.ts
Due: prettier

fix: remote trailing slash
  frontend/src/lib/modals/modal-create-community/index.svelte
Due: prettier

feat: upload media as File instance (#170)
  frontend/package-lock.json
  frontend/src/lib/modals/_utils/history.svelte.ts
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/(api)/communities/+server.ts
Due: prettier

refactor: create shared zod schema for types
  frontend/package-lock.json
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/lib/modals/modal-create-community/schema.ts
Due: prettier

fix: rename to proper standards
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/lib/modals/modal-create-community/schemas.ts
Due: prettier

fix: toast position issue
  frontend/src/lib/components/ui/toast/toaster.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
Due: prettier

fix: handle delayed store in fetch request
  frontend/src/lib/modals/modal-create-community/index.svelte
Due: prettier

fix: eslint disable un-def rule
  frontend/eslint.config.js
  frontend/src/routes/+layout.svelte
Due: prettier

chore: revert eslint rule and add comment
  frontend/eslint.config.js
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/+layout.svelte
Due: prettier

chore: update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: add validations to bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

fix: old ranger referneces to moderators
  frontend/src/routes/(app)/q/[name]/+layout.svelte
Due: prettier

fix: prevent send API request if no value
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

feat: add topics, type and nsfw fields
  backend/apps/community/admin.py
  backend/apps/community/migrations/0005_community_nsfw_community_topics.py
  backend/apps/community/migrations/0006_remove_community_is_public_community_type.py
  backend/apps/community/models.py
Due: isort-black

fix: poetry lock file
  backend/poetry.lock
Due: isort-black

fix: proper api payload in FE
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/modals/modal-create-community/forms/type.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/(api)/communities/+server.ts
Due: prettier

feat: topics, type and nsfw fields for community model (#174)
  backend/apps/community/admin.py
  backend/apps/community/migrations/0005_community_nsfw_community_topics.py
  backend/apps/community/migrations/0006_remove_community_is_public_community_type.py
  backend/apps/community/models.py
  backend/poetry.lock
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/modals/modal-create-community/forms/type.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/(api)/communities/+server.ts
Due: isort-black, prettier

feat: create simple comment-box
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/comments/index.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

feat: api endpoint to send request
  backend/apps/api/serializers/comment/__init__.py
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/routes/(api)/communities/posts/comments/+server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/+server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: isort-black, prettier

chore: remove unnecessary endpoints
  frontend/src/routes/(api)/communities/posts/comments/+server.ts
Due: prettier

fix: backend comment creation response
  backend/apps/api/serializers/comment/__init__.py
  backend/apps/api/viewsets/post/__init__.py
Due: isort-black

fix: error handling
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

fix: unshift new comment to first position
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

feat: reply to other comments
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/+server.ts
Due: prettier

feat: comment-box actions (#175)
  backend/apps/api/serializers/comment/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/comments/index.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/+server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: isort-black, prettier

fix: quick fix comment-box close on comment
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
