Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

refactor: better cookies handling and types
  backend/core/settings.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.d.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/server/utils/cookie.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
Due: isort-black, prettier

fix: set cookie; damn took long
  backend/apps/user/auth.py
  frontend/.env.example
  frontend/package-lock.json
  frontend/src/lib/server/utils/cookie.ts
  frontend/src/routes/(auth)/login/+page.svelte
Due: isort-black, prettier

refactor: endpoint for authed req user
  backend/apps/api/serializers/user/profile/__init__.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets/user/__init__.py
  backend/apps/user/auth.py
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.svelte
Due: isort-black, prettier

fix: eslint error
  frontend/src/hooks.server.ts
Due: prettier

fix: profile selection
  backend/apps/api/viewsets/community/__init__.py
  frontend/src/lib/features/auth/components/profile-select.svelte
Due: isort-black, prettier

chore: old endpoint
  frontend/src/routes/(api)/api/v1/u/login/select/+server.ts
Due: prettier

refactor: hooks to handle jwt auth and verification
  frontend/src/app.d.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.svelte
Due: prettier

refactor: hooks
  frontend/src/hooks.server.ts
Due: prettier

chore: improve condition checkin
  frontend/src/hooks.server.ts
Due: prettier

fix: pass request context for building absolute urls
  backend/apps/api/serializers/user/auth.py
Due: isort-black

fix: header profile avatar type
  frontend/src/lib/components/header.svelte
Due: prettier

feat: new auth FE integration of #226 (#233)
  backend/apps/api/serializers/user/auth.py
  backend/apps/api/serializers/user/profile/__init__.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/api/viewsets/user/__init__.py
  backend/core/settings.py
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.d.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/components/header.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/server/utils/cookie.ts
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/routes/(api)/api/v1/u/login/select/+server.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.svelte
Due: isort-black, prettier

chore: fix lock file
  backend/poetry.lock
Due: isort-black

fix: set interval to refresh token before expire
  frontend/src/hooks.server.ts
  frontend/src/lib/constants/auth.ts
  frontend/src/lib/server/utils/auth.ts
  frontend/src/routes/(api)/api/v1/auth/token/refresh/+server.ts
  frontend/src/routes/+layout.svelte
Due: prettier

fix: handle user idle state case (#235)
  frontend/src/hooks.server.ts
  frontend/src/lib/constants/auth.ts
  frontend/src/lib/server/utils/auth.ts
  frontend/src/routes/(api)/api/v1/auth/token/refresh/+server.ts
  frontend/src/routes/+layout.svelte
Due: prettier

chore: update hooks
  frontend/src/hooks.server.ts
Due: prettier

chore: basic email verification
  backend/apps/api/urls.py
  backend/core/settings.py
  frontend/src/lib/features/auth/components/code.svelte
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
  frontend/src/routes/(auth)/register/+page.svelte
Due: isort-black, prettier

feat: verification code component
  frontend/src/lib/features/auth/components/code.svelte
  frontend/src/lib/features/auth/index.ts
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

fix: register verification and redirect
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/features/auth/components/code.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

fix: eslint error and remove urls comment
  backend/apps/api/urls.py
  frontend/src/lib/features/auth/components/code.svelte
Due: isort-black, prettier

fix: register page with e-mail verification (#238)
  backend/apps/api/urls.py
  backend/core/settings.py
  frontend/src/hooks.server.ts
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/features/auth/components/code.svelte
  frontend/src/lib/features/auth/index.ts
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
  frontend/src/routes/(auth)/register/+page.svelte
Due: isort-black, prettier

fix: reset countdown on resend click
  frontend/src/lib/features/auth/components/code.svelte
Due: prettier

chore: change auth box layout and fix tabindex
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

fix: email existing verification integrity error
  backend/apps/api/serializers/user/auth.py
  frontend/src/lib/features/auth/components/code.svelte
Due: isort-black, prettier

chore: revert box layout change on #9b90f6f
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

fix: better modal-auth layout
  frontend/src/lib/modals/modal-auth/index.svelte
Due: prettier

refactor: move modals to components dir
  frontend/src/lib/components/modals/auth/index.svelte
  frontend/src/lib/components/modals/index.svelte
  frontend/src/lib/components/ui/base-modal.svelte
  frontend/src/routes/+layout.svelte
Due: prettier

fix: eslint no-undef error
  frontend/src/lib/features/auth/components/code.svelte
Due: prettier

refactor: move validation error messages to toast handler
  frontend/src/lib/components/ui/toast/toast.svelte.ts
  frontend/src/lib/components/ui/toast/toaster.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

style: fix toast stypes on small screen
  frontend/src/lib/components/ui/toast/toaster.svelte
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

fix: eslint expression error
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

chor: clean up tailwind config file
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/auth/index.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/components/ui/avatar.svelte
  frontend/src/lib/components/ui/backdrop-image.svelte
  frontend/src/lib/components/ui/base-modal.svelte
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/lib/features/posts/components/posts-header.svelte
  frontend/src/lib/features/posts/components/recent-post.svelte
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
  frontend/src/routes/(app)/+layout.svelte
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/+error.svelte
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
  frontend/src/routes/+error.svelte
  frontend/src/styles/app.css
  frontend/tailwind.config.ts
Due: prettier

chore: upgrade tailwind to v4
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/auth/index.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/components/ui/toast/toaster.svelte
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/lib/features/posts/components/recent-post.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
  frontend/src/routes/(app)/+layout.svelte
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
  frontend/src/styles/app.css
  frontend/tailwind.config.ts
Due: prettier

chore: upgrade daisyui to v5
  frontend/package-lock.json
  frontend/package.json
  frontend/src/styles/app.css
Due: prettier

chore: fix daisyui style override
  frontend/src/routes/+layout.svelte
  frontend/src/styles/app.css
Due: prettier

fix: login register pages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/auth/index.svelte
  frontend/src/lib/components/ui/base-modal.svelte
  frontend/src/lib/features/auth/components/form-login.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
  frontend/src/styles/app.css
Due: prettier

fix: profile creation form
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

chore: dynamic type texts rendering
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

fix: handling error store
  frontend/src/lib/features/auth/components/code.svelte
  frontend/src/lib/features/auth/components/form-login.svelte
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
