Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

fix: add reactive store to preview
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

feat: integrate superforms in community creation modal (#158)
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

fix: update community serializer to use moderators instead of rangers and resolve issues with rangers migrations (#156)
  backend/apps/api/serializers/community/__init__.py
  backend/apps/api/viewsets/community/__init__.py
Due: isort-black

Create thank-you.yml
  .github/workflows/thank-you.yml
Due: none

chore: update runner version and note
  .github/workflows/thank-you.yml
Due: none

ci(gh-action): create thank-you.yml (#159)
  .github/workflows/thank-you.yml
Due: none

added: profile overview api endpoint
  backend/apps/api/serializers/user/profile/__init__.py
  backend/apps/api/serializers/user/profile/overview.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets/user/__init__.py
Due: isort-black

refactor: drf strip api_path prefix
  backend/apps/api/serializers/user/profile/overview.py
  backend/apps/api/urls.py
  backend/apps/api/views/user/__init__.py
  backend/apps/api/views/user/auth.py
  backend/apps/api/viewsets/user/__init__.py
  backend/core/settings.py
  backend/core/urls.py
Due: isort-black

fix: update openapi-ts schema
  frontend/scripts/generate_schema.js
  frontend/src/lib/clients/index.ts
  frontend/src/lib/clients/v1/client.ts
  frontend/src/lib/clients/v1/schema.ts
Due: prettier

chore: remove accident change
  backend/apps/api/serializers/user/profile/overview.py
Due: isort-black

fix: urls pattern
  backend/apps/api/urls.py
Due: isort-black

fix: frontend side changes
  frontend/src/hooks.server.ts
  frontend/src/lib/clients/v1/client.ts
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/(app)/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
Due: prettier

fix: rest of the schema imports
  frontend/src/app.d.ts
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/lib/types/comment.ts
  frontend/src/routes/+layout.svelte
Due: prettier

refactor: drf change openapi schema and versionize (#161)
  backend/apps/api/urls.py
  backend/apps/api/views/user/__init__.py
  backend/apps/api/views/user/auth.py
  backend/apps/api/viewsets/user/__init__.py
  backend/core/settings.py
  backend/core/urls.py
  frontend/scripts/generate_schema.js
  frontend/src/app.d.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/clients/index.ts
  frontend/src/lib/clients/v1/client.ts
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/lib/types/comment.ts
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/(app)/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
  frontend/src/routes/+layout.svelte
Due: isort-black, prettier

chore: remove un-used svelte component
  frontend/src/lib/components/zod-errors.svelte
Due: prettier

Create lint.yml
  .github/workflows/lint.yml
Due: none

Delete .github/workflows/backend.yml
  .github/workflows/backend.yml
Due: none

Delete .github/workflows/frontend.yml
  .github/workflows/frontend.yml
Due: none

test: Update openapi.py
  backend/apps/api/openapi.py
Due: isort-black

Update lint.yml
  .github/workflows/lint.yml
Due: none

ci(gh-action): single lint action (#162)
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/lint.yml
Due: none

ci(gh-action): try fix changes job checkout issue
  .github/workflows/lint.yml
Due: none

fix: profile overview api endpoint with recommended changes
  backend/apps/api/serializers/user/profile/__init__.py
  backend/apps/api/serializers/user/profile/overview.py
  backend/apps/api/viewsets/user/__init__.py
Due: isort-black

fix: api path prefix trimmed issue
  backend/core/settings.py
Due: isort-black

fix: api send request path issue
  backend/core/settings.py
Due: isort-black

added: posts, comments, upvoted and downvoted apis
  backend/apps/api/serializers/user/profile/downvoted.py
  backend/apps/api/serializers/user/profile/upvoted.py
  backend/apps/api/viewsets/user/__init__.py
Due: isort-black

feat: profile page apis (#160)
  backend/apps/api/serializers/user/profile/__init__.py
  backend/apps/api/serializers/user/profile/downvoted.py
  backend/apps/api/serializers/user/profile/overview.py
  backend/apps/api/serializers/user/profile/upvoted.py
  backend/apps/api/viewsets/user/__init__.py
  backend/core/settings.py
Due: isort-black

fix: ratio attribute error in comment viewset
  backend/apps/api/viewsets/comment/__init__.py
Due: isort-black

fix: ratio attribute error in comment viewset (#163)
  backend/apps/api/viewsets/comment/__init__.py
Due: isort-black

fix: create debounced community name checker
  frontend/src/lib/functions/debounce.ts
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

fix: handle errors and validate on_mount
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

chore: remove debugs
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

fix: better error handlin
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

fix: change condition order
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

fix: validate community name if exists on creation (#164)
  frontend/src/lib/functions/debounce.ts
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

style: cm creation modal-box layout
  frontend/src/lib/modals/_components/base-modal.svelte
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

refactor: hooks and locals
  frontend/src/hooks.server.ts
  frontend/src/lib/modals/modal-create-community/forms/type.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/+layout.svelte
Due: prettier

feat: kit api endpoint and send request and validate
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/api/communities/+server.ts
Due: prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
