Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

feat: show toast messages on specific actions
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/settings/+page.svelte
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

fix: eslint ghost import error
  frontend/src/routes/(app)/settings/+page.svelte
Due: prettier

refactor(cq): use invalidateAll property of goto function
  frontend/src/lib/features/auth/components/profile-select.svelte
Due: prettier

fix: poetry lock file hash conflict
  backend/poetry.lock
Due: isort-black

chore(deps): update requirements.txt with dev deps
  backend/requirements.txt
Due: isort-black

refactor: replace window navigation with goto func.
  frontend/src/lib/components/header.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/+layout.svelte
Due: prettier

feat: enable IMAGE type and dynamic zod schema
  frontend/src/lib/pages/settings/profile/banner-setting.svelte
  frontend/src/lib/schemas/post-submit.ts
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

chore: updatet errors and render
  frontend/src/lib/schemas/post-submit.ts
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

feat: cover upload preview
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/components/ui/backdrop-image.svelte
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

fix: pre-line post content
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

chore: disabled menu btn for sort comments
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

feat: IMAGE type on post creation (#311)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/components/ui/backdrop-image.svelte
  frontend/src/lib/pages/settings/profile/banner-setting.svelte
  frontend/src/lib/schemas/post-submit.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

fix: prevent non-image file uploads
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

chore!: remove inner-border tw lib
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/components/ui/backdrop-image.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

feat: custom regex validators
  backend/apps/community/models.py
  backend/apps/community/validators.py
  backend/apps/user/validators.py
Due: isort-black

refactor: shared unique name validator
  backend/apps/api/viewsets/comment/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/comment/models.py
  backend/apps/community/models.py
  backend/apps/post/models.py
  backend/apps/user/models.py
  backend/apps/user/validators.py
  backend/shared/__init__.py
  backend/shared/mixins/__init__.py
  backend/shared/mixins/api/__init__.py
  backend/shared/mixins/api/reaction.py
  backend/shared/mixins/models/__init__.py
  backend/shared/mixins/models/avatar.py
  backend/shared/mixins/models/created_at.py
  backend/shared/mixins/models/shortuuid.py
  backend/shared/mixins/models/type.py
  backend/shared/validators/__init__.py
  backend/shared/validators/unique_name.py
  frontend/src/lib/schemas/community-create.ts
Due: isort-black, prettier

fix: migrations
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/migrations/0002_alter_profile_avatar_alter_profile_created_at_and_more.py
Due: isort-black

fix: prevent typing spaces
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/pages/q/create/step_1.svelte
Due: prettier

fix: enhanced validation of community name field (#312)
  backend/apps/api/viewsets/comment/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/comment/models.py
  backend/apps/community/models.py
  backend/apps/post/models.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/migrations/0002_alter_profile_avatar_alter_profile_created_at_and_more.py
  backend/apps/user/models.py
  backend/apps/user/validators.py
  backend/shared/__init__.py
  backend/shared/mixins/__init__.py
  backend/shared/mixins/api/__init__.py
  backend/shared/mixins/api/reaction.py
  backend/shared/mixins/models/__init__.py
  backend/shared/mixins/models/avatar.py
  backend/shared/mixins/models/created_at.py
  backend/shared/mixins/models/shortuuid.py
  backend/shared/mixins/models/type.py
  backend/shared/validators/__init__.py
  backend/shared/validators/unique_name.py
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/lib/schemas/community-create.ts
Due: isort-black, prettier

fixes: #303; map backend errors to superforms
  frontend/src/routes/(app)/submit/+page.server.ts
Due: prettier

Update README.md
  README.md
Due: none

add badges
  README.md
Due: none

docs: readme with MVP update (#313)
  README.md
Due: none

docs: update readme with proper badges
  README.md
Due: none

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
