Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

refactor: move errors to /utils dir
  frontend/src/lib/utils/api.ts
  frontend/src/lib/utils/errors.ts
  frontend/src/routes/auth/+page.server.ts
  frontend/src/routes/settings/profile/+page.server.ts
Due: prettier

refactor: group server actions route and test client
  frontend/src/lib/clients/client.ts
  frontend/src/routes/(actions)/auth/+page.server.ts
Due: prettier

refactor: use dynamically typed schemas and remove custom types
  frontend/src/app.d.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/lib/types/user.ts
  frontend/src/routes/+layout.svelte
Due: prettier

fix: api endpoint permission class
  backend/apps/quiblet/api/v1/permissions.py
Due: isort-black

refactor: integrate back drf_stanrdized_errors for openapi error types
  backend/config/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/src/lib/clients/v1.ts
Due: isort-black, prettier

refactor: update allowed status codes in schema
  backend/apps/quiblet/api/v1/permissions.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/common/api/openapi.py
  backend/config/settings.py
  frontend/src/lib/clients/client.ts
  frontend/src/lib/clients/v1.ts
Due: isort-black, prettier

chore: re-fetch openapi schema
  frontend/src/lib/clients/client.ts
  frontend/src/lib/clients/v1.ts
Due: prettier

refactor: disable browsable qpi in production mode
  backend/config/settings.py
Due: isort-black

chore: remove unnecessary api common files
  backend/common/api/handlers.py
  backend/common/api/permissions.py
Due: isort-black

refactor: drf spectacular dynamic dict generation
  backend/config/settings.py
Due: isort-black

fix: disable swagger ui on production
  backend/config/urls.py
Due: isort-black

feat: configure quibs api viewset and endpoints
  backend/apps/quib/api/__init__.py
  backend/apps/quib/api/v1/__init__.py
  backend/apps/quib/api/v1/serializers.py
  backend/apps/quib/api/v1/urls.py
  backend/apps/quib/api/v1/viewsets.py
  backend/config/urls.py
Due: isort-black

chore: update drf spectacular settings and add json view
  backend/config/settings.py
  backend/config/urls.py
Due: isort-black

chore: re-generate openapi-ts with latest schema
  frontend/src/lib/clients/v1.ts
Due: prettier

chore: remove profile model and custom user
  backend/apps/api/__init__.py
  backend/apps/api/admin.py
  backend/apps/api/apps.py
  backend/apps/api/migrations/__init__.py
  backend/apps/api/models.py
  backend/apps/api/v1/__init__.py
  backend/apps/api/v1/urls.py
  backend/apps/quib/migrations/0001_initial.py
  backend/apps/quib/migrations/0002_initial.py
  backend/apps/quib/models.py
  backend/apps/quiblet/migrations/0001_initial.py
  backend/apps/quiblet/migrations/0002_initial.py
  backend/apps/quiblet/migrations/0003_delete_quib.py
  backend/apps/quiblet/models.py
  backend/apps/user/admin.py
  backend/apps/user/api/v1/serializers.py
  backend/apps/user/api/v1/urls.py
  backend/apps/user/api/v1/views.py
  backend/apps/user/api/v1/viewsets.py
  backend/apps/user/apps.py
  backend/apps/user/auth.py
  backend/apps/user/backends.py
  backend/apps/user/forms.py
  backend/apps/user/managers.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/models.py
  backend/apps/user/signals.py
  backend/config/settings.py
  backend/config/urls.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/conftest.py
Due: isort-black

chore: update customuseradmin
  backend/apps/user/admin.py
  backend/apps/user/forms.py
Due: isort-black

chore: group paths
  backend/apps/api/v1/urls.py
Due: isort-black

refactor: paths structure and merge quib into quiblets
  backend/apps/quib/admin.py
  backend/apps/quib/api/__init__.py
  backend/apps/quib/api/v1/__init__.py
  backend/apps/quib/api/v1/serializers.py
  backend/apps/quib/api/v1/urls.py
  backend/apps/quib/api/v1/viewsets.py
  backend/apps/quib/apps.py
  backend/apps/quib/migrations/0001_initial.py
  backend/apps/quib/migrations/__init__.py
  backend/apps/quib/models.py
  backend/apps/quiblet/admin.py
  backend/apps/quiblet/api/v1/serializers.py
  backend/apps/quiblet/api/v1/urls.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/quiblet/migrations/0001_initial.py
  backend/apps/quiblet/migrations/0002_initial.py
  backend/apps/quiblet/migrations/0003_delete_quib.py
  backend/apps/quiblet/models.py
  backend/apps/user/api/v1/views.py
  backend/apps/user/api/v1/viewsets.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/models.py
  backend/common/mixins/__init__.py
  backend/common/mixins/model_mixins.py
  backend/config/settings.py
  backend/config/urls.py
Due: isort-black

chore: syncup max line length
  .editorconfig
  frontend/.prettierrc
  frontend/src/lib/components/icons/chart_bars.svelte
  frontend/src/lib/components/modals/auth/forms/login.svelte
  frontend/src/lib/components/modals/auth/forms/profile_create.svelte
  frontend/src/lib/components/pages/home/posts_header.svelte
  frontend/src/lib/components/pages/home/recent_posts.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/stores/modals.svelte.ts
Due: prettier

refactor: patch http_request for better types and catch all pyright errors
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/quiblet/models.py
  backend/apps/user/api/v1/serializers.py
  backend/apps/user/api/v1/viewsets.py
  backend/apps/user/backends.py
  backend/apps/user/models.py
  backend/common/mixins/model_mixins.py
  backend/common/patches/__init__.py
  backend/common/patches/request.py
  backend/tests/conftest.py
Due: isort-black

chore: update client generated types and update usage
  frontend/src/lib/clients/v1.ts
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/settings/profile/+page.server.ts
Due: prettier

refactor: custom username validator
  backend/apps/user/migrations/0002_alter_profile_username.py
  backend/apps/user/migrations/0003_alter_profile_username.py
  backend/apps/user/models.py
  backend/apps/user/validators.py
Due: isort-black

fix: client api requests and error handling
  backend/apps/user/models.py
  frontend/src/lib/components/modals/auth/forms/login.svelte
  frontend/src/lib/components/modals/auth/forms/profile_select.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/(app)/settings/profile/+page.server.ts
  frontend/src/routes/settings/profile/+page.server.ts
Due: isort-black, prettier

refactor: use progressive custom enhanced form action
  frontend/src/lib/components/modals/auth/forms/login.svelte
  frontend/src/lib/components/modals/auth/forms/profile_create.svelte
  frontend/src/lib/components/modals/auth/forms/profile_select.svelte
Due: prettier

refactor: omit update function from custom form submit_function
  frontend/src/lib/components/modals/auth/forms/login.svelte
  frontend/src/lib/components/modals/auth/forms/profile_create.svelte
  frontend/src/lib/components/modals/auth/forms/profile_select.svelte
Due: prettier

refactor: fetch profiles once and store it and utilize
  frontend/src/lib/components/modals/auth/forms/login.svelte
  frontend/src/lib/components/modals/auth/forms/profile_create.svelte
  frontend/src/lib/components/modals/auth/forms/profile_select.svelte
  frontend/src/lib/components/modals/auth/index.svelte
  frontend/src/lib/components/modals/auth/types.ts
  frontend/src/routes/(app)/settings/profile/+page.server.ts
Due: prettier

refactor: destructure data before updating with forms_state
  frontend/src/lib/components/modals/auth/index.svelte
Due: prettier

refactor: export encapsulated function from store
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/auth/forms/profile_select.svelte
  frontend/src/lib/components/modals/auth/index.svelte
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/lib/stores/modals.svelte.ts
  frontend/src/routes/+layout.svelte
Due: prettier

fix: eslint error
  frontend/src/lib/stores/auth.svelte.ts
Due: prettier

fix: server hook proper client handle
  frontend/src/hooks.server.ts
Due: prettier

style: add toolips for interactions
  frontend/src/app.css
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/sidebar.svelte
Due: prettier

ci: add gh-actions as an ecosystem and interval to weekly
  .github/dependabot.yml
Due: none

refactor: crate comment app and integrate django_ltree_2
  backend/apps/comment/__init__.py
  backend/apps/comment/admin.py
  backend/apps/comment/api/__init__.py
  backend/apps/comment/api/v1/__init__.py
  backend/apps/comment/api/v1/serializers.py
  backend/apps/comment/api/v1/urls.py
  backend/apps/comment/api/v1/viewsets.py
  backend/apps/comment/apps.py
  backend/apps/comment/migrations/0001_initial.py
  backend/apps/comment/migrations/__init__.py
  backend/apps/comment/models.py
  backend/apps/quiblet/api/v1/serializers.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/quiblet/migrations/0003_quib_cover.py
  backend/apps/quiblet/migrations/0004_remove_quib_dislikes_remove_quib_likes_quib_comments_and_more.py
  backend/apps/quiblet/models.py
  backend/config/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/src/lib/clients/v1.ts
  frontend/src/lib/components/pages/home/quib.svelte
  frontend/src/lib/components/pages/home/quibs_header.svelte
  frontend/src/lib/components/pages/home/recent_quibs.svelte
  frontend/src/routes/+page.svelte
Due: isort-black, prettier

chore: update migration files
  backend/apps/comment/migrations/0001_initial.py
  backend/apps/quiblet/migrations/0001_initial.py
  backend/apps/quiblet/migrations/0002_initial.py
  backend/apps/quiblet/migrations/0003_quib_cover.py
  backend/apps/quiblet/migrations/0004_remove_quib_dislikes_remove_quib_likes_quib_comments_and_more.py
  backend/apps/quiblet/models.py
Due: isort-black

fix: inconsitancy in migrations
  backend/apps/comment/migrations/0001_initial.py
  backend/apps/comment/migrations/0002_initial.py
  backend/apps/quiblet/migrations/0001_initial.py
  backend/apps/quiblet/migrations/0002_initial.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/migrations/0002_alter_profile_username.py
  backend/apps/user/migrations/0003_alter_profile_username.py
Due: isort-black

feat: comment serializer
  backend/apps/comment/api/v1/serializers.py
  backend/apps/comment/api/v1/urls.py
  backend/apps/comment/api/v1/viewsets.py
  backend/config/urls.py
Due: isort-black

feat: comment model in Ltree structure (#96)
  backend/apps/comment/__init__.py
  backend/apps/comment/admin.py
  backend/apps/comment/api/__init__.py
  backend/apps/comment/api/v1/__init__.py
  backend/apps/comment/api/v1/serializers.py
  backend/apps/comment/api/v1/urls.py
  backend/apps/comment/api/v1/viewsets.py
  backend/apps/comment/apps.py
  backend/apps/comment/migrations/0001_initial.py
  backend/apps/comment/migrations/0002_initial.py
  backend/apps/comment/migrations/__init__.py
  backend/apps/comment/models.py
  backend/apps/quiblet/api/v1/serializers.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/quiblet/migrations/0001_initial.py
  backend/apps/quiblet/migrations/0002_initial.py
  backend/apps/quiblet/models.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/migrations/0002_alter_profile_username.py
  backend/apps/user/migrations/0003_alter_profile_username.py
  backend/config/settings.py
  backend/config/urls.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/src/lib/clients/v1.ts
  frontend/src/lib/components/pages/home/quib.svelte
  frontend/src/lib/components/pages/home/quibs_header.svelte
  frontend/src/lib/components/pages/home/recent_quibs.svelte
  frontend/src/routes/+page.svelte
Due: isort-black, prettier

refactor: separate quib model and change models name
  backend/apps/comment/admin.py
  backend/apps/comment/api/v1/serializers.py
  backend/apps/comment/api/v1/viewsets.py
  backend/apps/comment/migrations/0003_rename_comment_commentmodel_and_more.py
  backend/apps/comment/models.py
  backend/apps/quib/__init__.py
  backend/apps/quib/admin.py
  backend/apps/quib/api/__init__.py
  backend/apps/quib/api/v1/__init__.py
  backend/apps/quib/api/v1/serializers.py
  backend/apps/quib/api/v1/urls.py
  backend/apps/quib/api/v1/viewsets.py
  backend/apps/quib/apps.py
  backend/apps/quib/migrations/0001_initial.py
  backend/apps/quib/migrations/__init__.py
  backend/apps/quib/models.py
  backend/apps/quiblet/admin.py
  backend/apps/quiblet/api/v1/serializers.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/quiblet/migrations/0003_rename_quiblet_quibletmodel_delete_quib.py
  backend/apps/quiblet/models.py
  backend/apps/user/admin.py
  backend/apps/user/api/v1/serializers.py
  backend/apps/user/api/v1/viewsets.py
  backend/apps/user/auth.py
  backend/apps/user/forms.py
  backend/apps/user/migrations/0002_rename_profile_profilemodel.py
  backend/apps/user/models.py
  backend/apps/user/signals.py
  backend/common/patches/request.py
  backend/config/settings.py
  backend/config/urls.py
  backend/tests/api/v1/test_user_me_profiles.py
  backend/tests/conftest.py
Due: isort-black

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
