Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

try: fix
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

feat: post upvote downvote actions (#249)
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

style: minor fix on header tooltip
  frontend/src/lib/components/header.svelte
Due: prettier

feat: u/ route
  backend/apps/api/viewsets/user/__init__.py
  frontend/package-lock.json
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(app)/q/all/+page.svelte
  frontend/src/routes/(app)/q/popular/+page.svelte
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(app)/u/[username]/+page.server.ts
  frontend/src/routes/(app)/u/[username]/+page.svelte
Due: isort-black, prettier

fix: remove first,last name and add single name field
  backend/apps/api/serializers/user/profile/__init__.py
  backend/apps/user/admin.py
  backend/apps/user/migrations/0004_remove_profile_first_name_remove_profile_last_name_and_more.py
  backend/apps/user/models.py
Due: isort-black

fix: remove first,last name and add single name field (#252)
  backend/apps/api/serializers/user/profile/__init__.py
  backend/apps/user/admin.py
  backend/apps/user/migrations/0004_remove_profile_first_name_remove_profile_last_name_and_more.py
  backend/apps/user/models.py
Due: isort-black

refactor: layout
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(app)/u/[username]/+layout.server.ts
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/(app)/u/[username]/+page.svelte
  frontend/src/routes/(app)/u/[username]/posts/+page.svelte
Due: prettier

fix: profile viewset overview lookup error
  backend/apps/api/serializers/user/profile/downvoted.py
  backend/apps/api/serializers/user/profile/overview.py
  backend/apps/api/serializers/user/profile/upvoted.py
  backend/apps/api/viewsets/user/__init__.py
  backend/apps/user/admin.py
Due: isort-black

chore: make disabled type work
  frontend/src/routes/(app)/u/[username]/+layout.svelte
Due: prettier

feat: add post and comment types
  frontend/src/lib/components/legal-links.svelte
  frontend/src/lib/pages/u/comment-type.svelte
  frontend/src/lib/types/comment.ts
  frontend/src/routes/(app)/submit/+page.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/(app)/u/[username]/+page.svelte
Due: prettier

fix: post-card
  frontend/src/lib/features/posts/components/post-card.svelte
Due: prettier

refactor: comment serializer
  backend/apps/api/serializers/comment/__init__.py
  backend/apps/api/serializers/user/profile/downvoted.py
  backend/apps/api/serializers/user/profile/overview.py
  backend/apps/api/serializers/user/profile/upvoted.py
  backend/apps/api/viewsets/comment/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/api/viewsets/user/__init__.py
Due: isort-black

refactor: typed overview
  frontend/src/routes/(app)/u/[username]/+page.svelte
Due: prettier

feat: profile layout and pages, fix comment schema
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/pages/u/comment-type.svelte
  frontend/src/lib/pages/u/post-type.svelte
  frontend/src/lib/types/comment.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/(app)/u/[username]/+page.server.ts
  frontend/src/routes/(app)/u/[username]/+page.svelte
Due: prettier

feat: complete overview tab
  backend/apps/api/serializers/comment/__init__.py
  frontend/src/lib/features/comments/components/comment-actions.svelte
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/lib/pages/u/comment-type.svelte
  frontend/src/lib/pages/u/post-type.svelte
  frontend/src/lib/types/comment.ts
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/(app)/u/[username]/+page.svelte
Due: isort-black, prettier

refactor: new comment overview format
  backend/apps/api/serializers/comment/__init__.py
  backend/apps/api/serializers/user/profile/overview.py
Due: isort-black

refactor: better error component
  backend/apps/api/viewsets/community/__init__.py
  frontend/src/lib/components/error.svelte
  frontend/src/routes/(app)/+error.svelte
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/+error.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/+error.svelte
Due: isort-black, prettier

feat: posts and comments routes
  backend/apps/api/viewsets/user/__init__.py
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(app)/u/[username]/comments/+page.server.ts
  frontend/src/routes/(app)/u/[username]/comments/+page.svelte
  frontend/src/routes/(app)/u/[username]/posts/+page.server.ts
  frontend/src/routes/(app)/u/[username]/posts/+page.svelte
Due: isort-black, prettier

feat: work on profile page (#251)
  backend/apps/api/serializers/comment/__init__.py
  backend/apps/api/serializers/user/profile/downvoted.py
  backend/apps/api/serializers/user/profile/overview.py
  backend/apps/api/serializers/user/profile/upvoted.py
  backend/apps/api/viewsets/comment/__init__.py
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/api/viewsets/user/__init__.py
  backend/apps/user/admin.py
  frontend/package-lock.json
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/components/error.svelte
  frontend/src/lib/components/legal-links.svelte
  frontend/src/lib/features/comments/components/comment-actions.svelte
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/lib/pages/u/comment-type.svelte
  frontend/src/lib/pages/u/post-type.svelte
  frontend/src/lib/types/comment.ts
  frontend/src/routes/(app)/+error.svelte
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/+error.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
  frontend/src/routes/(app)/q/all/+page.svelte
  frontend/src/routes/(app)/q/popular/+page.svelte
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(app)/submit/+page.svelte
  frontend/src/routes/(app)/u/[username]/+layout.server.ts
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/(app)/u/[username]/+page.server.ts
  frontend/src/routes/(app)/u/[username]/+page.svelte
  frontend/src/routes/(app)/u/[username]/comments/+page.server.ts
  frontend/src/routes/(app)/u/[username]/comments/+page.svelte
  frontend/src/routes/(app)/u/[username]/posts/+page.server.ts
  frontend/src/routes/(app)/u/[username]/posts/+page.svelte
  frontend/src/routes/+error.svelte
Due: isort-black, prettier

fix: eslint unused import error
  backend/apps/api/viewsets/user/__init__.py
Due: isort-black

fix: protect post request method
  backend/apps/api/viewsets/post/__init__.py
Due: isort-black

fix: disable action for anonymous user
  frontend/src/lib/features/comments/components/comment-box.svelte
Due: prettier

fix: 256 bug prevent anonymous user from comment creation (#257)
  backend/apps/api/viewsets/post/__init__.py
  frontend/src/lib/features/comments/components/comment-box.svelte
Due: isort-black, prettier

fix: profile types responsiveness
  frontend/src/routes/(app)/u/[username]/+layout.svelte
Due: prettier

fix: error component page meta tags override
  frontend/src/lib/components/error.svelte
  frontend/src/routes/(app)/+error.svelte
Due: prettier

feat: add google oauth provider
  backend/.env.example
  backend/apps/api/clients.py
  backend/apps/api/urls.py
  backend/apps/api/views/user/auth.py
  backend/core/settings.py
Due: isort-black

chore: update env
  backend/.env.example
  backend/apps/api/views/user/auth.py
  backend/core/settings.py
Due: isort-black

feat: FE integration
  frontend/.env.example
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/callback/+page.server.ts
  frontend/src/routes/callback/+page.svelte
Due: prettier

fix: send proper cookies in request
  frontend/src/routes/callback/+page.server.ts
Due: prettier

chore: move callback route
  frontend/src/routes/(auth)/callback/+page.server.ts
  frontend/src/routes/(auth)/callback/+page@.svelte
Due: prettier

feat: social authentication via google (#259)
  backend/.env.example
  backend/apps/api/clients.py
  backend/apps/api/urls.py
  backend/apps/api/views/user/auth.py
  backend/core/settings.py
  frontend/.env.example
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/callback/+page.server.ts
  frontend/src/routes/(auth)/callback/+page@.svelte
Due: isort-black, prettier

feat: add profile menu dropdown
  frontend/src/lib/components/header.svelte
  frontend/src/lib/features/posts/components/posts-header.svelte
Due: prettier

feat: logout function
  frontend/src/lib/components/header.svelte
Due: prettier

feat: implement FE logout function with menu (#260)
  frontend/src/lib/components/header.svelte
  frontend/src/lib/features/posts/components/posts-header.svelte
Due: prettier

feat: handle profile types empty case
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/routes/(app)/u/[username]/+page.svelte
  frontend/src/routes/(app)/u/[username]/comments/+page.svelte
  frontend/src/routes/(app)/u/[username]/posts/+page.svelte
Due: prettier

chore: update branch name in lint.yml
  .github/workflows/lint.yml
Due: none

feat: config backend deployment code
  backend/.env.example
  backend/.gitignore
  backend/build_files.sh
  backend/core/settings.py
  backend/core/urls.py
  backend/core/wsgi.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
  backend/vercel.json
Due: isort-black

feat: dynamic .env selection
  backend/.gitignore
  backend/core/settings.py
Due: isort-black

chore: install sveltejs vercel adapter
  frontend/package-lock.json
  frontend/package.json
  frontend/svelte.config.js
Due: prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
