Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

feat: communities selection list
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

feat: select community
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

feat: search filter communities
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

fix: render list length instead else case
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

fix: add community id validation
  frontend/src/lib/schemas/post-submit.ts
  frontend/src/lib/stores/sidebar.svelte.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

refactor: post create serializer
  backend/apps/api/serializers/post/__init__.py
  backend/apps/api/viewsets/post/__init__.py
Due: isort-black

chore: remove auth_store
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

fix: custom post creation and send creds
  backend/apps/api/serializers/post/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/routes/(app)/submit/+page.server.ts
Due: isort-black, prettier

feat: post submit page (#189)
  backend/apps/api/serializers/post/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/schemas/post-submit.ts
  frontend/src/lib/stores/sidebar.svelte.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(app)/submit/+page.svelte
Due: isort-black, prettier

added: django-silk profiler
  backend/core/settings.py
  backend/core/urls.py
  backend/poetry.lock
  backend/pyproject.toml
Due: isort-black

chore: update bug_report.yml tempalate
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

fixes #192; remove dynamic width
  frontend/src/routes/+layout.svelte
Due: prettier

refactor: layouts
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/routes/(app)/+layout.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/login/+page.svelte
Due: prettier

chore: move login route to apps
  frontend/src/routes/(app)/login/+page@.svelte
Due: prettier

chore: re-structure static files
  frontend/src/routes/(app)/login/+page@.svelte
  frontend/src/styles/app.css
  frontend/static/assets/fonts/roboto/Roboto-Black.ttf
  frontend/static/assets/fonts/roboto/Roboto-Bold.ttf
  frontend/static/assets/fonts/roboto/Roboto-Light.ttf
  frontend/static/assets/fonts/roboto/Roboto-Medium.ttf
  frontend/static/assets/fonts/roboto/Roboto-Regular.ttf
  frontend/static/assets/fonts/roboto/Roboto-Thin.ttf
  frontend/static/assets/svgs/standalone-auth-bg.svg
Due: prettier

style: login form layout
  frontend/src/routes/(app)/login/+page@.svelte
Due: prettier

chore: move to separte group
  frontend/src/routes/(authentication)/+layout.svelte
  frontend/src/routes/(authentication)/login/+page.svelte
Due: prettier

feat: separate register page
  frontend/src/routes/(authentication)/+layout.svelte
  frontend/src/routes/(authentication)/register/+page.svelte
Due: prettier

feat: login form action
  frontend/package-lock.json
  frontend/src/routes/(authentication)/login/+page.server.ts
  frontend/src/routes/(authentication)/login/+page.svelte
Due: prettier

fix: superform forms conflict
  frontend/src/lib/modals/index.svelte
Due: prettier

feat: initial data from url params
  frontend/src/routes/(authentication)/login/+page.server.ts
Due: prettier

fix: eslint error
  frontend/src/routes/(authentication)/register/+page.svelte
Due: prettier

fix: finalllll
  frontend/src/routes/(authentication)/register/+page.svelte
Due: prettier

feat: standalone login page (#194)
  frontend/package-lock.json
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/lib/modals/index.svelte
  frontend/src/routes/(app)/+layout.svelte
  frontend/src/routes/(authentication)/+layout.svelte
  frontend/src/routes/(authentication)/login/+page.server.ts
  frontend/src/routes/(authentication)/login/+page.svelte
  frontend/src/routes/(authentication)/register/+page.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/styles/app.css
  frontend/static/assets/fonts/roboto/Roboto-Black.ttf
  frontend/static/assets/fonts/roboto/Roboto-Bold.ttf
  frontend/static/assets/fonts/roboto/Roboto-Light.ttf
  frontend/static/assets/fonts/roboto/Roboto-Medium.ttf
  frontend/static/assets/fonts/roboto/Roboto-Regular.ttf
  frontend/static/assets/fonts/roboto/Roboto-Thin.ttf
  frontend/static/assets/svgs/standalone-auth-bg.svg
Due: prettier

chore: move register form actions and handle errors
  frontend/src/routes/(authentication)/register/+page.server.ts
  frontend/src/routes/(authentication)/register/+page.svelte
Due: prettier

chore: update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

fix: remove getting password from url and redirect on success
  frontend/src/routes/(authentication)/login/+page.server.ts
  frontend/src/routes/(authentication)/register/+page.server.ts
Due: prettier

fix: add font-display css property
  frontend/src/styles/app.css
Due: prettier

fix: ensure text remains visible during webfont load (#197)
  frontend/src/styles/app.css
Due: prettier

added: django-silk profiler (#191)
  backend/core/settings.py
  backend/core/urls.py
  backend/poetry.lock
  backend/pyproject.toml
Due: isort-black

refactor: await fetch profiles and select component
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/features/auth/index.ts
  frontend/src/routes/(authentication)/+layout.svelte
Due: prettier

refactor: use context to pass data b/w layout and page
  frontend/src/routes/(authentication)/+layout.svelte
  frontend/src/routes/(authentication)/login/+page.svelte
Due: prettier

refactor: proper conditional rendering
  frontend/src/routes/(authentication)/+layout.svelte
Due: prettier

refactor: change login success payload data
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(authentication)/+layout.svelte
  frontend/src/routes/(authentication)/login/+page.svelte
Due: prettier

chore: sync poetry lock file
  backend/poetry.lock
Due: isort-black

fix: eslint lint error
  frontend/src/lib/features/auth/components/profile-select.svelte
Due: prettier

feat: onback handler for profile selection
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(authentication)/+layout.svelte
Due: prettier

feat(fe): profile select api endpoint
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(api)/api/v1/(auth)/login/select/+server.ts
Due: prettier

feat(fe): handle profile selection
  frontend/src/lib/features/auth/components/profile-select.svelte
Due: prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
