Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

feat: algorithm for top sorting
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/post/managers.py
Due: isort-black

refactor: move mappings to top level
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/features/posts/components/posts-header.svelte
Due: prettier

chore: smmm
  backend/apps/api/views/user/auth.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/post/managers.py
  backend/apps/post/models.py
Due: isort-black

feat: `top` sorting algorithm (#213)
  backend/apps/api/views/user/auth.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/post/managers.py
  backend/apps/post/models.py
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/features/posts/components/posts-header.svelte
Due: isort-black, prettier

refactor: post manager with generalized functions
  backend/apps/post/managers.py
Due: isort-black

chore: update navbar layout
  frontend/src/lib/components/header.svelte
Due: prettier

chore: handle protected routes
  frontend/src/hooks.server.ts
Due: prettier

refactor: full window refresh on dest redirect
  frontend/src/hooks.server.ts
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

refactor: include both redirect cases
  frontend/src/lib/features/auth/components/profile-select.svelte
Due: prettier

fix: prevent access to submit route when not authenticated (#215)
  frontend/src/hooks.server.ts
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

fix: dynamically append required modals
  frontend/src/lib/modals/index.svelte
Due: prettier

style: responsive header
  frontend/src/lib/components/header.svelte
Due: prettier

style: rest of the pages
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

fix: class
  frontend/src/routes/(app)/+page.svelte
Due: prettier

style: improved responsive design (#216)
  frontend/src/lib/components/header.svelte
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

refactor: profile selection pending state and key for itterations
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

refactor: move comment creation logics to form actions
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/comments/schemas.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

chore: remove old api route
  frontend/src/routes/(api)/api/v1/posts/[id]/comment/+server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

fix: types and return format
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

refactor: move comment creation logics to form actions (#217)
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/comments/schemas.ts
  frontend/src/routes/(api)/api/v1/posts/[id]/comment/+server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

chore: page for popular and all communities
  frontend/src/routes/(app)/q/all/+page.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
  frontend/src/routes/(app)/q/popular/+page.svelte
Due: prettier

style: first form
  frontend/src/routes/(app)/q/create/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

refactor: dynamic step
  frontend/src/lib/pages/q/create/step_one.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

refactor: change steps_mapping structure
  frontend/src/lib/pages/q/create/step_two.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

style: visual step with preview
  frontend/src/lib/pages/q/create/step_two.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

feat: topics model and serializers
  backend/apps/api/serializers/community/topics.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/api/viewsets/community/topics.py
  backend/apps/community/admin.py
  backend/apps/community/migrations/0008_remove_community_topics_topic_community_topics.py
  backend/apps/community/models.py
  backend/apps/community/topics.json
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
Due: isort-black, prettier

feat: fetch topics
  backend/apps/api/serializers/community/topics.py
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/pages/q/create/step_3.svelte
Due: isort-black, prettier

feat: integrate search filter
  frontend/src/lib/pages/q/create/step_3.svelte
Due: prettier

chore: add
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

fix: steps
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
Due: prettier

chore: update filter and input
  frontend/src/lib/pages/q/create/step_3.svelte
Due: prettier

feat: move community creation to separate page (#221)
  backend/apps/api/serializers/community/topics.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/api/viewsets/community/topics.py
  backend/apps/community/admin.py
  backend/apps/community/migrations/0008_remove_community_topics_topic_community_topics.py
  backend/apps/community/models.py
  backend/apps/community/topics.json
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: isort-black, prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
