Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

feat: step_4
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

refactor: remove cm modal and reset default step
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/modals/_utils/history.svelte.ts
  frontend/src/lib/modals/index.svelte
  frontend/src/lib/modals/modal-create-community/forms/index.ts
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
  frontend/src/lib/modals/modal-create-community/forms/topics.svelte
  frontend/src/lib/modals/modal-create-community/forms/type.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/lib/modals/modal-create-community/schemas.ts
  frontend/src/lib/modals/types.ts
  frontend/src/lib/stores/modals.svelte.ts
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

chore: remove docker version attribute
  docker/compose-db.yml
Due: none

chore: apply pending migrations
  backend/apps/community/migrations/0009_alter_topic_options_alter_topic_icon.py
Due: isort-black

feat: integrate superforms for persistent state
  frontend/src/hooks.server.ts
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
  frontend/src/lib/schemas/community-create.ts
  frontend/src/routes/(app)/q/create/+page.server.ts
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

fix: make states persistent with superforms store
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
Due: prettier

fix: efficient update of topics store
  frontend/src/lib/pages/q/create/step_3.svelte
Due: prettier

fix: topics typing
  frontend/src/lib/pages/q/create/step_3.svelte
Due: prettier

fix: server side form validation
  frontend/src/routes/(app)/q/create/+page.server.ts
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

fix: add enctype for form file handlin and fix types
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

refactor: remove repeated FormData handlin
  frontend/src/lib/functions/form/create-form-data.ts
  frontend/src/lib/functions/form/index.ts
  frontend/src/routes/(app)/q/create/+page.server.ts
  frontend/src/routes/(app)/q/create/+page.svelte
  frontend/src/routes/(auth)/login/+page.server.ts
Due: prettier

fix: eslint error; remove any type
  frontend/src/lib/functions/form/create-form-data.ts
Due: prettier

chore: integrate client for community creation
  frontend/src/routes/(app)/q/create/+page.server.ts
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

chore: remove unused api route
  frontend/src/routes/(api)/api/v1/communities/+server.ts
Due: prettier

fix: broken client api endpoints
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/+layout.server.ts
Due: prettier

chore: dynamic mappins for error_steps
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

feat: handle errors
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
  frontend/src/lib/schemas/community-create.ts
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

feat: handle error on community creation form (#224)
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
  frontend/src/lib/schemas/community-create.ts
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

fix: error step navigation and error store
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

feat: add delayed store on submit for better ux
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

fix: community avatar and banner preview
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/routes/(app)/q/create/+page.svelte
Due: prettier

feat: custom emotions
  frontend/src/lib/constants/emoticons.ts
  frontend/src/routes/(app)/+page.svelte
Due: prettier

fix: eslint error; remove unused stuffs
  frontend/src/routes/(app)/+page.svelte
Due: prettier

chore: add more emotions to handle empty cases
  frontend/src/lib/components/sidebar.svelte
Due: prettier

feat: integrate dj-rest-auth and django-allauth
  backend/apps/api/urls.py
  backend/apps/user/auth.py
  backend/core/settings.py
  backend/poetry.lock
  backend/pyproject.toml
Due: isort-black

fix: custom login serializer
  backend/apps/api/serializers/user/auth.py
  backend/core/settings.py
Due: isort-black

fix: custom register serializer
  backend/apps/api/serializers/user/auth.py
  backend/apps/api/urls.py
  backend/apps/api/views/user/auth.py
  backend/core/settings.py
Due: isort-black

fix: jwt cookie auth
  backend/apps/user/auth.py
  backend/core/settings.py
Due: isort-black

fix: password reset urls
  backend/apps/api/urls.py
  backend/core/settings.py
Due: isort-black

chore: remove drf token auth
  backend/core/settings.py
  backend/pyproject.toml
Due: isort-black

chore: profile selection view
  backend/apps/api/urls.py
  backend/apps/api/views/user/auth.py
  backend/apps/user/auth.py
  backend/core/settings.py
Due: isort-black

fix: permission class to select profile api
  backend/apps/api/urls.py
  backend/apps/api/views/user/auth.py
Due: isort-black

refactor: custom logout api and remove old auth routes
  backend/apps/api/urls.py
  backend/apps/api/views/user/auth.py
Due: isort-black

chore: damn
  backend/apps/api/views/user/auth.py
Due: isort-black

feat: custom user details view and serializer
  backend/apps/api/serializers/user/auth.py
  backend/apps/api/serializers/user/profile/__init__.py
  backend/apps/api/urls.py
  backend/apps/api/views/user/auth.py
  backend/core/settings.py
Due: isort-black

fix: basic user detail serializer and fix attr error
  backend/apps/api/serializers/user/auth.py
  backend/apps/api/serializers/user/profile/__init__.py
  backend/apps/api/urls.py
  backend/apps/api/views/user/auth.py
Due: isort-black

chore: rename client to api
  frontend/scripts/generate_schema.js
  frontend/src/app.d.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/clients/index.ts
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/lib/types/comment.ts
  frontend/src/routes/(api)/api/v1/comments/[id]/reaction/+server.ts
  frontend/src/routes/(app)/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
  frontend/src/routes/(app)/q/create/+page.server.ts
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/register/+page.server.ts
Due: prettier

chore: fix renaming on other places
  backend/core/settings.py
  frontend/src/hooks.server.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/routes/(api)/api/v1/comments/[id]/reaction/+server.ts
  frontend/src/routes/(app)/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
  frontend/src/routes/(app)/q/create/+page.server.ts
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
Due: isort-black, prettier

refactor: renamed openapi client (#232)
  backend/core/settings.py
  frontend/scripts/generate_schema.js
  frontend/src/app.d.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/clients/index.ts
  frontend/src/lib/clients/v1/client.ts
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/lib/types/comment.ts
  frontend/src/routes/(api)/api/v1/comments/[id]/reaction/+server.ts
  frontend/src/routes/(app)/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
  frontend/src/routes/(app)/q/create/+page.server.ts
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
Due: isort-black, prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
