Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-backend, format-frontend)

format-backend:
  name: format (backend)
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

format-frontend):
  name: format (frontend)
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

chore: config pre-commit
  .pre-commit-config.yaml
Due: none

chore: fix typo
  .pre-commit-config.yaml
Due: none

oops: reverse it
  .pre-commit-config.yaml
Due: none

chore: configure isort and flake8 with pre-commit hook (#73)
  .pre-commit-config.yaml
  backend/.flake8
  backend/django_core/apps/user/admin.py
  backend/django_core/apps/user/api/v1/serializers.py
  backend/django_core/apps/user/api/v1/urls.py
  backend/django_core/apps/user/api/v1/views.py
  backend/django_core/apps/user/api/v1/viewsets.py
  backend/django_core/apps/user/backends.py
  backend/django_core/apps/user/forms.py
  backend/django_core/apps/user/managers.py
  backend/django_core/apps/user/migrations/0001_initial.py
  backend/django_core/apps/user/migrations/0005_alter_profile_color.py
  backend/django_core/apps/user/models.py
  backend/django_core/apps/user/tests.py
  backend/django_core/core/settings.py
  backend/django_core/core/urls.py
  backend/django_core/shared/mixins/models.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/conftest.py
  frontend/package.json
Due: format-backend, format-frontend)

feat: setup lint gh-actions
  .github/workflows/lint.yml
Due: none

fix: tyio
  .github/workflows/lint.yml
Due: none

fix: cache
  .github/workflows/lint.yml
Due: none

chore: add defaults for frontend
  .github/workflows/lint.yml
Due: none

ci: specify lock file path
  .github/workflows/lint.yml
Due: none

ci: backend job
  .github/workflows/lint.yml
Due: none

test: backend lint
  backend/tests/conftest.py
Due: format-backend

test: complete
  backend/tests/conftest.py
Due: format-backend

ci: add poetry cache
  .github/workflows/lint.yml
Due: none

ci: update path
  .github/workflows/lint.yml
Due: none

ci: remove poetry cache
  .github/workflows/lint.yml
Due: none

ci: test specific file
  .github/workflows/lint.yml
Due: none

ci: test
  backend/tests/conftest.py
Due: format-backend

ci: separate backend and frontend
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

ci: test complete
  backend/tests/conftest.py
Due: format-backend

ci: test
  .github/workflows/lint.yml
Due: none

ci: u0date
  .github/workflows/lint.yml
Due: none

ci: test with ackend
  backend/tests/conftest.py
Due: format-backend

ci: update
  .github/workflows/lint.yml
Due: none

ci: update 0
  .github/workflows/lint.yml
Due: none

ci: fix tyio
  .github/workflows/lint.yml
Due: none

ci: remove lint.yml
  .github/workflows/lint.yml
  backend/tests/conftest.py
Due: format-backend

feat: setup lint gh-actions (#75)
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

feat: pre-commit setup script
  backend/poetry.lock
  backend/pyproject.toml
  scripts/pre-commit.sh
Due: format-backend

chore: remove pre-commit from poetry backend
  backend/poetry.lock
  backend/pyproject.toml
Due: format-backend

feat: prompt before installing pipx, re-format and fix a typo
  scripts/pre-commit.sh
Due: none

feat: add python script and remove bash one
  scripts/pre-commit.py
  scripts/pre-commit.sh
Due: none

docs: md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: remove doc
  scripts/pre-commit.py
Due: none

chore: add
  scripts/pre-commit.py
Due: none

feat: pre-commit setup python script (#78)
  CONTRIBUTING.md
  scripts/pre-commit.py
Due: none

feat : moved propegation func to function folder and fixed some issues
  frontend/src/lib/components/pages/home/post.svelte
  frontend/src/lib/functions/propegation.ts
Due: format-frontend)

Path conditions:
  format-backend: any of: ^backend/
  format-frontend): any of: ^frontend/
