Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: isort-black
        name: Format python codes
        entry: bash -c 'cd ./backend/ && poetry run poe format'
        language: python
        files: ^backend/

      - id: prettier
        name: Run prettier
        entry: bash -c 'cd ./frontend/ && npm run format'
        language: node
        files: ^frontend/

chore: update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: type unreachable issue
  backend/apps/api/viewsets/comment/__init__.py
Due: isort-black

chore: minor fixes and QOL improvements.
  frontend/.env.example
  frontend/.gitignore
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/modals/modal-create-community/forms/topics.svelte
  frontend/vite.config.ts
Due: prettier

refactor: merge error cases
  frontend/src/lib/modals/modal-auth/forms/join.svelte
Due: prettier

chore: minor fixes and QOL improvements. (#177)
  frontend/.env.example
  frontend/.gitignore
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/modals/modal-create-community/forms/topics.svelte
  frontend/vite.config.ts
Due: prettier

feat: interactive comment reaction
  frontend/src/lib/features/comments/components/comment-block.svelte
Due: prettier

feat: comment reaction kit endpoint
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/routes/(api)/api/v1/comment/reaction/+server.ts
  frontend/src/routes/(api)/api/v1/comments/[id]/reaction/+server.ts
  frontend/src/routes/(api)/api/v1/communities/+server.ts
Due: prettier

fix: reactive ratio and reaction state
  frontend/src/lib/features/comments/components/comment-block.svelte
Due: prettier

chore: add api endpoint
  frontend/src/routes/(api)/api/comment/reaction/+server.ts
Due: prettier

refactor: api routes
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/(api)/api/v1/comment/reaction/+server.ts
  frontend/src/routes/(api)/api/v1/communities/+server.ts
Due: prettier

feat: backend comment reaction api
  backend/apps/api/serializers/comment/reaction.py
  backend/apps/api/viewsets/comment/__init__.py
  frontend/src/lib/features/comments/components/comment-block.svelte
Due: isort-black, prettier

fix: eslint error
  backend/apps/api/serializers/comment/reaction.py
  frontend/src/routes/(api)/api/v1/comments/[id]/reaction/+server.ts
  frontend/src/routes/(api)/api/v1/communities/+server.ts
Due: isort-black, prettier

chore: remove unused imports
  backend/apps/api/viewsets/comment/__init__.py
Due: isort-black

refactor: use request body instead query params
  backend/apps/api/bases/serializers.py
  backend/apps/api/serializers/comment/reaction.py
  backend/apps/api/viewsets/comment/__init__.py
Due: isort-black

fix: undo reaction api
  backend/apps/api/viewsets/comment/__init__.py
Due: isort-black

refactor: validate action before proceeding in serializer
  backend/apps/api/bases/serializers.py
  backend/apps/api/serializers/comment/reaction.py
  backend/apps/api/viewsets/comment/__init__.py
Due: isort-black

fix: sync poetry lock file
  backend/poetry.lock
Due: isort-black

fix: poetry lock
  backend/poetry.lock
Due: isort-black

feat: comment reaction API (#176)
  backend/apps/api/bases/serializers.py
  backend/apps/api/serializers/comment/reaction.py
  backend/apps/api/viewsets/comment/__init__.py
  backend/poetry.lock
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/modals/modal-create-community/index.svelte
  frontend/src/routes/(api)/api/v1/comments/[id]/reaction/+server.ts
  frontend/src/routes/(api)/api/v1/communities/+server.ts
Due: isort-black, prettier

fixes #180; throttle comment reaction events
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/functions/throttle.ts
Due: prettier

fix: eslint error, use never type instead
  frontend/src/lib/functions/throttle.ts
Due: prettier

style: new design for layout card type
  frontend/src/lib/features/posts/components/post-card.svelte
Due: prettier

chore: relative for each elements
  frontend/src/lib/features/posts/components/post-card.svelte
Due: prettier

style: fix compact layout
  frontend/src/lib/features/posts/components/post-card.svelte
Due: prettier

style: post card component redesign (#181)
  frontend/src/lib/features/posts/components/post-card.svelte
Due: prettier

style: remove backdrop blur on dialog
  frontend/src/lib/modals/_components/base-modal.svelte
Due: prettier

chore(deps): update svelte-medium-image-zoom to latest
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix: limit sidebar state
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/stores/sidebar.svelte.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

fix: better API
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/constants/limits.ts
  frontend/src/lib/stores/sidebar.svelte.ts
Due: prettier

fix: disable clear btns when state is empty
  frontend/src/lib/components/sidebar.svelte
Due: prettier

revert: comment
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

fix: limit sidebar state(s) length (#184)
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/constants/limits.ts
  frontend/src/lib/stores/sidebar.svelte.ts
Due: prettier

fixes #182; clear recent posts method
  frontend/src/lib/features/posts/stores/recent-post.svelte.ts
  frontend/src/routes/(app)/+page.svelte
Due: prettier

fixes #185; correct redirect url in recent post
  frontend/src/routes/(app)/+page.svelte
Due: prettier

resolves #186; group comment creation api endpoints
  frontend/src/routes/(api)/api/v1/posts/[id]/comment/+server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

fix(eslint): lint error
  frontend/src/routes/(api)/api/v1/posts/[id]/comment/+server.ts
Due: prettier

feat: post submit page design
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

feat: url search params control
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

feat: integrate superforms
  frontend/src/lib/schemas/post-submit.ts
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

chore: some patch works
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier
