Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

fix: eslint error
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/register/+page.server.ts
Due: prettier

fix: fieldset and add show/hide passwords
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

revert: error messages to toast
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

fix: profile selection and creation pages
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(auth)/login/+page.server.ts
Due: prettier

fix: post submit page
  frontend/src/routes/(app)/submit/+page.server.ts
  frontend/src/routes/(app)/submit/+page.svelte
  frontend/src/routes/+layout.svelte
Due: prettier

fix: sidebar
  frontend/src/lib/components/sidebar.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

fix: post card
  frontend/src/lib/features/posts/components/post-card.svelte
Due: prettier

fix: post card actions
  frontend/src/lib/features/posts/components/post-card.svelte
Due: prettier

fix: comment box and post page
  frontend/src/lib/features/comments/components/comment-box.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

fix: community page
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

fix: community page api endpoint typo
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/routes/(app)/q/[name]/+page.server.ts
Due: prettier

fix: header and community page
  frontend/src/lib/components/header.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

fix: sidebar search input and dropdown btn
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/features/posts/components/posts-header.svelte
Due: prettier

fix: eslint error;
  frontend/src/routes/(auth)/login/+page.server.ts
Due: prettier

fix: community creation page
  frontend/src/lib/pages/q/create/step_1.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

fix: community creation form action
  frontend/src/routes/(app)/q/create/+page.server.ts
Due: prettier

chore: remove coreicons from form error text
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
Due: prettier

fixes #242: nprogress bar bg-color
  frontend/src/styles/nprogress.css
Due: prettier

refactor: lib/schemas
  frontend/src/lib/schemas/auth.ts
  frontend/src/lib/schemas/community-create.ts
  frontend/src/lib/schemas/post-submit.ts
Due: prettier

chore: inner schemas and steps
  frontend/src/lib/features/comments/schemas.ts
  frontend/src/lib/pages/q/create/step_4.svelte
Due: prettier

refactor: zod validation error messages (#243)
  frontend/src/lib/features/comments/schemas.ts
  frontend/src/lib/pages/q/create/step_4.svelte
  frontend/src/lib/schemas/auth.ts
  frontend/src/lib/schemas/community-create.ts
  frontend/src/lib/schemas/post-submit.ts
Due: prettier

refactor: request from clientside
  frontend/src/routes/+layout.svelte
Due: prettier

chore: remove old api route for token refresh
  frontend/src/routes/(api)/api/v1/auth/token/refresh/+server.ts
Due: prettier

refactor: move token refresh logic to client side (#246)
  frontend/src/routes/(api)/api/v1/auth/token/refresh/+server.ts
  frontend/src/routes/+layout.svelte
Due: prettier

fixes #244: add cookie header and change actions style
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
Due: prettier

refactor: use client side api request
  frontend/src/lib/features/comments/components/comment-block.svelte
Due: prettier

chore: delete old api endpoint
  frontend/src/routes/(api)/api/v1/comments/[id]/reaction/+server.ts
Due: prettier

refactor: direct API call from client-side (#248)
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/routes/(api)/api/v1/comments/[id]/reaction/+server.ts
Due: prettier

feat: get annotated ratio value from posts
  backend/apps/api/serializers/post/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/post/managers.py
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: isort-black, prettier

refactor: remove db query expression wrapper
  backend/apps/api/viewsets/comment/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/api/viewsets/user/__init__.py
  backend/apps/comment/managers.py
  backend/apps/post/managers.py
Due: isort-black

fix: eslint error
  backend/apps/comment/managers.py
Due: isort-black

refactor: re-use viewset reaction mixin
  backend/apps/api/bases/serializers.py
  backend/apps/api/serializers/comment/reaction.py
  backend/apps/api/viewsets/comment/__init__.py
  backend/mixins/api/__init__.py
  backend/mixins/api/reaction.py
Due: isort-black

chore: add reaction mixin to post viewset
  backend/apps/api/viewsets/post/__init__.py
Due: isort-black

fix: default annotation for ratio in post model
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/post/managers.py
Due: isort-black

refactor: default post and comment model annotation
  backend/apps/api/viewsets/comment/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/api/viewsets/user/__init__.py
  backend/apps/comment/managers.py
  backend/apps/post/managers.py
Due: isort-black

fix: post viewset action serializer
  backend/apps/api/viewsets/post/__init__.py
Due: isort-black

feat: throttled reaction handler for post page
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

feat: post-actions component
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

chore: remove more icon
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
