Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

chore(deps): update smiz package
  frontend/package-lock.json
  frontend/package.json
Due: prettier

style: change quib page title size
  frontend/src/routes/(app)/q/[name]/quibs/[id]/[slug]/+page.svelte
Due: prettier

revert(style): quib page title
  frontend/src/routes/(app)/q/[name]/quibs/[id]/[slug]/+page.svelte
Due: prettier

style: change responsive layout to box type
  frontend/src/lib/components/quib.svelte
  frontend/src/lib/components/quibs_header.svelte
  frontend/src/routes/(app)/+page.svelte
Due: prettier

revert: "style: change responsive layout to box type"
  frontend/src/lib/components/quib.svelte
  frontend/src/lib/components/quibs_header.svelte
  frontend/src/routes/(app)/+page.svelte
Due: prettier

style: show minimized search bar on mobile screen
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/quib.svelte
  frontend/src/lib/components/quibs_header.svelte
Due: prettier

chore: remove unnecessary folders
  backend/deployments/.gitkeep
  backend/locale/.gitkeep
  backend/static/.gitkeep
Due: isort-black

refactor: rename config to core
  backend/core/__init__.py
  backend/core/asgi.py
  backend/core/settings.py
  backend/core/urls.py
  backend/core/wsgi.py
  backend/manage.py
  backend/pyproject.toml
Due: isort-black

refactor: extra packages structure
  backend/apps/comment/models.py
  backend/apps/quib/models.py
  backend/apps/quiblet/models.py
  backend/apps/user/models.py
  backend/mixins/__init__.py
  backend/mixins/models/__init__.py
  backend/mixins/models/avatar.py
  backend/mixins/models/created_at.py
  backend/mixins/models/is_public.py
  backend/mixins/models/shortuuid.py
Due: isort-black

chore: move patces
  backend/apps/quiblet/api/v1/viewsets.py
  backend/common/mixins/model_mixins.py
  backend/common/patches/__init__.py
  backend/patches/__init__.py
  backend/patches/request.py
Due: isort-black

refactor: extra packages structure (#113)
  backend/apps/comment/models.py
  backend/apps/quib/models.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/quiblet/models.py
  backend/apps/user/models.py
  backend/common/mixins/model_mixins.py
  backend/mixins/__init__.py
  backend/mixins/models/__init__.py
  backend/mixins/models/avatar.py
  backend/mixins/models/created_at.py
  backend/mixins/models/is_public.py
  backend/mixins/models/shortuuid.py
  backend/patches/__init__.py
  backend/patches/request.py
Due: isort-black

chore: new api app
  backend/apps/api/__init__.py
  backend/apps/api/apps.py
  backend/apps/api/exceptions.py
  backend/apps/api/http.py
  backend/apps/api/openapi.py
  backend/apps/api/serializers.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/user/api/v1/views.py
  backend/common/api/__init__.py
  backend/common/api/bases/__init__.py
Due: isort-black

refactor: move up comment modules
  backend/apps/api/bases/__init__.py
  backend/apps/api/bases/serializers.py
  backend/apps/api/bases/viewsets.py
  backend/apps/api/serializers/__init__.py
  backend/apps/api/serializers/comment/__init__.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets/__init__.py
  backend/apps/api/viewsets/comment/__init__.py
  backend/apps/comment/api/v1/urls.py
  backend/core/urls.py
Due: isort-black

refactor: quib -> post
  backend/apps/api/serializers/post/__init__.py
  backend/apps/api/serializers/post/highlighted.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/quib/api/__init__.py
  backend/apps/quib/api/v1/__init__.py
  backend/apps/quib/api/v1/urls.py
Due: isort-black

chore" quiblet -> community
  backend/apps/api/serializers/community/__init__.py
  backend/apps/api/serializers/community/exists.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/quiblet/api/__init__.py
  backend/apps/quiblet/api/v1/__init__.py
  backend/apps/quiblet/api/v1/urls.py
Due: isort-black

refactor: user to base api
  backend/apps/api/serializers/user/__init__.py
  backend/apps/api/serializers/user/auth.py
  backend/apps/api/serializers/user/profile.py
  backend/apps/api/urls.py
  backend/apps/api/views/__init__.py
  backend/apps/api/views/user/__init__.py
  backend/apps/api/views/user/auth.py
  backend/apps/api/viewsets/user/__init__.py
  backend/apps/user/api/v1/__init__.py
  backend/apps/user/api/v1/urls.py
Due: isort-black

chore: fix impotrs
  backend/apps/api/serializers/comment/__init__.py
  backend/apps/api/serializers/community/__init__.py
  backend/apps/api/serializers/post/__init__.py
  backend/core/settings.py
Due: isort-black

refactor: change posts api endpoint to plural
  backend/apps/api/urls.py
  backend/core/settings.py
Due: isort-black

refactor: verbose apps name
  backend/apps/api/serializers/community/__init__.py
  backend/apps/api/serializers/community/exists.py
  backend/apps/api/serializers/post/__init__.py
  backend/apps/api/serializers/post/highlighted.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/comment/admin.py
  backend/apps/comment/migrations/0001_initial.py
  backend/apps/comment/migrations/0002_initial.py
  backend/apps/comment/migrations/0003_rename_commentmodel_comment_and_more.py
  backend/apps/comment/models.py
  backend/apps/community/__init__.py
  backend/apps/community/admin.py
  backend/apps/community/apps.py
  backend/apps/community/migrations/0001_initial.py
  backend/apps/community/migrations/0002_initial.py
  backend/apps/community/migrations/__init__.py
  backend/apps/community/models.py
  backend/apps/post/__init__.py
  backend/apps/post/admin.py
  backend/apps/post/apps.py
  backend/apps/post/migrations/0001_initial.py
  backend/apps/post/migrations/0002_initial.py
  backend/apps/post/migrations/__init__.py
  backend/apps/post/models.py
  backend/apps/quib/admin.py
  backend/apps/quib/migrations/0002_initial.py
  backend/apps/quib/migrations/0003_rename_quibmodel_quib.py
  backend/apps/quib/migrations/0004_quib_highlighted.py
  backend/apps/quib/migrations/0005_alter_quib_slug.py
  backend/apps/quiblet/migrations/0003_rename_quibletmodel_quiblet.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/migrations/0002_rename_profilemodel_profile.py
  backend/core/settings.py
Due: isort-black

refactor: tests structure
  backend/tests/api/test_user_auth.py
  backend/tests/api/test_user_me_profiles.py
  backend/tests/api/test_user_profiles.py
  backend/tests/api/v1/test_quiblets.py
  backend/tests/api/v1/test_quibs.py
Due: isort-black

refactor: verbose apps name (#115)
  backend/apps/api/serializers/community/__init__.py
  backend/apps/api/serializers/community/exists.py
  backend/apps/api/serializers/post/__init__.py
  backend/apps/api/serializers/post/highlighted.py
  backend/apps/api/urls.py
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/comment/admin.py
  backend/apps/comment/migrations/0001_initial.py
  backend/apps/comment/migrations/0002_initial.py
  backend/apps/comment/migrations/0003_rename_commentmodel_comment_and_more.py
  backend/apps/comment/models.py
  backend/apps/community/__init__.py
  backend/apps/community/admin.py
  backend/apps/community/apps.py
  backend/apps/community/migrations/0001_initial.py
  backend/apps/community/migrations/0002_initial.py
  backend/apps/community/migrations/__init__.py
  backend/apps/community/models.py
  backend/apps/post/__init__.py
  backend/apps/post/admin.py
  backend/apps/post/apps.py
  backend/apps/post/migrations/0001_initial.py
  backend/apps/post/migrations/0002_initial.py
  backend/apps/post/migrations/__init__.py
  backend/apps/post/models.py
  backend/apps/quib/admin.py
  backend/apps/quib/migrations/0002_initial.py
  backend/apps/quib/migrations/0003_rename_quibmodel_quib.py
  backend/apps/quib/migrations/0004_quib_highlighted.py
  backend/apps/quib/migrations/0005_alter_quib_slug.py
  backend/apps/quiblet/migrations/0003_rename_quibletmodel_quiblet.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/migrations/0002_rename_profilemodel_profile.py
  backend/core/settings.py
  backend/tests/api/test_user_auth.py
  backend/tests/api/test_user_me_profiles.py
  backend/tests/api/test_user_profiles.py
  backend/tests/api/v1/test_quiblets.py
  backend/tests/api/v1/test_quibs.py
Due: isort-black

chore: update git index and change file pattern
  backend/.gitignore
  backend/apps/community/models.py
  backend/media/.gitkeep
  backend/media/avatar/.gitignore
  backend/media/community_banner/.gitignore
  backend/media/cover/.gitignore
Due: isort-black

refactor: rangers -> moderators
  backend/apps/community/migrations/0003_remove_community_rangers_community_moderators_and_more.py
  backend/apps/community/models.py
Due: isort-black

fix: proper django lazy text translation text
  backend/apps/comment/models.py
  backend/apps/community/models.py
  backend/apps/post/models.py
  backend/apps/user/forms.py
  backend/apps/user/models.py
  backend/mixins/models/avatar.py
  backend/mixins/models/created_at.py
  backend/mixins/models/is_public.py
  backend/mixins/models/shortuuid.py
Due: isort-black

chore: done migrations of latest change
  backend/apps/comment/migrations/0003_alter_comment_commenter_alter_comment_created_at_and_more.py
  backend/apps/community/migrations/0004_alter_community_avatar_alter_community_banner_and_more.py
  backend/apps/post/migrations/0003_alter_post_comments_alter_post_community_and_more.py
  backend/apps/user/migrations/0002_alter_profile_avatar_alter_profile_created_at_and_more.py
Due: isort-black

refactor: integrate openapi-ts
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate_schema.js
  frontend/src/lib/assets/svgs/quibble_404.svg
  frontend/src/lib/clients/client.ts
  frontend/src/lib/clients/v1.ts
  frontend/src/lib/clients/v1/index.ts
  frontend/src/lib/clients/v1/sdk.gen.ts
  frontend/src/lib/clients/v1/types.gen.ts
  frontend/src/routes/(app)/q/+error.svelte
  frontend/src/routes/+error.svelte
Due: prettier

refactor: syncup with latest client changes
  frontend/scripts/generate_schema.js
  frontend/src/hooks.server.ts
  frontend/src/lib/assets/.gitkeep
  frontend/src/lib/clients/v1/client.ts
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/components/modals/auth/forms/profile_select.svelte
  frontend/src/lib/components/quib.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/(app)/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/q/[name]/quibs/[id]/[slug]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/quibs/[id]/[slug]/+page.svelte
  frontend/src/routes/(app)/settings/profile/+page.server.ts
  frontend/src/routes/+layout.svelte
Due: prettier

chore: add
  frontend/src/lib/components/post.svelte
  frontend/src/lib/components/posts_filter.svelte
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/lib/stores/recent_posts.svelte.ts
  frontend/src/lib/stores/sidebar.svelte.ts
  frontend/src/lib/types/comment.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

refactor: components and functions
  backend/apps/api/serializers/comment/__init__.py
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/components/comment_block.svelte
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/post.svelte
  frontend/src/lib/components/posts_filter.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/stores/layout.svelte.ts
  frontend/src/lib/stores/view.svelte.ts
Due: isort-black, prettier

chore: done
  frontend/src/lib/components/posts_header.svelte
  frontend/src/lib/stores/recent_posts.svelte.ts
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

refactor: quibs to posts_count
  backend/apps/api/serializers/community/__init__.py
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/routes/(app)/q/+error.svelte
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: isort-black, prettier

refactor: remove quib and quiblet references (#117)
  backend/apps/api/serializers/comment/__init__.py
  backend/apps/api/serializers/community/__init__.py
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/components/comment_block.svelte
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/post.svelte
  frontend/src/lib/components/posts_header.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/lib/stores/layout.svelte.ts
  frontend/src/lib/stores/recent_posts.svelte.ts
  frontend/src/lib/stores/sidebar.svelte.ts
  frontend/src/lib/stores/view.svelte.ts
  frontend/src/lib/types/comment.ts
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/+error.svelte
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: isort-black, prettier

refactor: remove deprecated kit page store
  frontend/src/app.d.ts
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/post.svelte
  frontend/src/routes/(app)/q/+error.svelte
  frontend/src/routes/+error.svelte
Due: prettier

refactor: svelte state stores
  frontend/src/lib/components/post.svelte
  frontend/src/lib/components/posts_header.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/stores/layout.svelte.ts
  frontend/src/lib/stores/layout_type.svelte.ts
  frontend/src/lib/stores/modals.svelte.ts
  frontend/src/lib/stores/recent_posts.svelte.ts
  frontend/src/lib/stores/sidebar.svelte.ts
  frontend/src/routes/(app)/+page.svelte
Due: prettier

refactor: modals and change auth type btn
  frontend/src/lib/components/modals/auth/forms/index.ts
  frontend/src/lib/components/modals/auth/forms/join.svelte
  frontend/src/lib/components/modals/auth/forms/profile_select.svelte
  frontend/src/lib/components/modals/auth/index.svelte
  frontend/src/lib/stores/sidebar.svelte.ts
Due: prettier

fix: user register and form action
  backend/apps/api/serializers/user/auth.py
  frontend/src/lib/components/modals/auth/forms/join.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
Due: isort-black, prettier

feat: add auth type hint and change layout
  frontend/src/lib/components/modals/auth/forms/join.svelte
Due: prettier

feat: hide/show password input field
  frontend/src/lib/components/modals/auth/forms/join.svelte
Due: prettier

feat: previous form function and go back on modal
  frontend/src/lib/components/modals/auth/index.svelte
Due: prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
