Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: isort-black
        name: Format python codes
        entry: bash -c 'cd ./backend/ && poetry run poe format'
        language: python
        files: ^backend/

      - id: prettier
        name: Run prettier
        entry: bash -c 'cd ./frontend/ && npm run format'
        language: node
        files: ^frontend/

fix: auth layout
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

chore: remove unnecessary class
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

fix: (auth) pages responsiveness (#262)
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

feat: show verification box based on valid url params
  frontend/src/lib/features/auth/components/code.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.svelte
Due: prettier

chore: add smpt server configs
  backend/.env.example
  backend/.gitignore
  backend/core/settings.py
Due: isort-black

fix: eslint error
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

feat: explicit email verification when not-verified (#264)
  backend/.env.example
  backend/.gitignore
  backend/core/settings.py
  frontend/src/lib/features/auth/components/code.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.svelte
Due: isort-black, prettier

fix: configure cors origins
  backend/.env.example
  backend/core/settings.py
Due: isort-black

fix: allow safe origins
  backend/.env.example
  backend/core/settings.py
Due: isort-black

fix: configure cors origins from allowed_hosts (#266)
  backend/.env.example
  backend/core/settings.py
Due: isort-black

feat: integrate sendgrid mail service
  backend/.env.example
  backend/core/settings.py
Due: isort-black

refactor: move oauth clients to core app
  backend/apps/api/views/user/auth.py
  backend/core/clients.py
Due: isort-black

chore(deps): django-sendgrid-v5
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: isort-black

chore: override allauth email templates
  backend/templates/account/email/base_message.txt
  backend/templates/account/email/email_confirmation_message.txt
  backend/templates/account/email/email_confirmation_subject.txt
Due: isort-black

chore: custom allauth adapter
  backend/core/adapters.py
Due: isort-black

fix!: change jwt samesite attr
  backend/core/settings.py
Due: isort-black

chore: change csrf and cors config
  backend/core/settings.py
Due: isort-black

refactor: dynamic samesite and secure attrs
  backend/core/settings.py
Due: isort-black

refactor: csrf and session cookei domains
  backend/.env.example
  backend/apps/api/views/user/auth.py
  backend/core/settings.py
Due: isort-black

refactor: verification page
  frontend/src/lib/features/auth/index.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
  frontend/src/routes/(auth)/register/+page.svelte
  frontend/src/routes/(auth)/verification/+page.server.ts
  frontend/src/routes/(auth)/verification/+page.svelte
Due: prettier

refactor: component exports
  frontend/src/lib/features/auth/components/index.ts
  frontend/src/lib/features/auth/index.ts
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

chore: make form action default
  frontend/src/routes/(auth)/register/+page.server.ts
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

fix: eslint eror
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

fix: eslint 2nd attempt
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

refactor!: dedicated verification page (#272)
  frontend/src/lib/features/auth/components/index.ts
  frontend/src/lib/features/auth/index.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
  frontend/src/routes/(auth)/register/+page.svelte
  frontend/src/routes/(auth)/verification/+page.server.ts
  frontend/src/routes/(auth)/verification/+page.svelte
Due: prettier

feat: install and config cloudinary
  backend/.env.example
  backend/core/settings.py
  backend/poetry.lock
  backend/pyproject.toml
Due: isort-black

chore: bash script to export poetry deps to requirements.txt
  backend/export_poetry.sh
  backend/requirements.txt
Due: isort-black

chore: update env
  backend/.env.example
Due: isort-black

fix: lock poetry file
  backend/poetry.lock
Due: isort-black

feat: cloudinary storage (#274)
  backend/.env.example
  backend/core/settings.py
  backend/export_poetry.sh
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: isort-black

feat: settings account page
  frontend/src/lib/components/header.svelte
  frontend/src/routes/(app)/settings/+layout.svelte
  frontend/src/routes/(app)/settings/+page.svelte
  frontend/src/routes/(app)/u/[username]/+layout.svelte
  frontend/src/styles/app.css
Due: prettier

chore: update
  frontend/src/routes/(app)/settings/+layout.svelte
  frontend/src/routes/(app)/settings/+page.svelte
Due: prettier

style: tab active
  frontend/src/styles/app.css
Due: prettier

feat: basic profile page
  frontend/src/routes/(app)/settings/+page.svelte
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

feat: reusable component
  frontend/src/lib/pages/settings/setting-item.svelte
  frontend/src/routes/(app)/settings/+page.svelte
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

feat: dynamic settings modal
  frontend/src/lib/pages/settings/profile/form-name.svelte
  frontend/src/lib/pages/settings/setting-item.svelte
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

feat: basic avatar setting components
  frontend/src/lib/pages/settings/profile/avatar-setting.svelte
  frontend/src/lib/pages/settings/profile/bio-setting.svelte
  frontend/src/lib/pages/settings/profile/form-name.svelte
  frontend/src/lib/pages/settings/profile/name-setting.svelte
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

feat: profile update server actions with superforms
  frontend/src/hooks.server.ts
  frontend/src/lib/components/ui/base-modal.svelte
  frontend/src/lib/pages/settings/profile/banner-setting.svelte
  frontend/src/lib/pages/settings/profile/bio-setting.svelte
  frontend/src/lib/pages/settings/profile/name-setting.svelte
  frontend/src/lib/pages/settings/setting-item.svelte
  frontend/src/lib/schemas/settings.ts
  frontend/src/routes/(app)/settings/profile/+page.server.ts
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

fix: banner show content condition
  frontend/src/lib/pages/settings/profile/avatar-setting.svelte
  frontend/src/lib/pages/settings/profile/banner-setting.svelte
  frontend/src/routes/(app)/settings/profile/+page.svelte
Due: prettier

fix: eslint error
  frontend/src/lib/pages/settings/profile/avatar-setting.svelte
  frontend/src/lib/pages/settings/profile/banner-setting.svelte
Due: prettier
