Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

refactor: wrap related errors
  frontend/src/lib/modals/modal-auth/forms/join.svelte
Due: prettier

feat: include message
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
Due: prettier

fix: return form when success
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
Due: prettier

feat: update forms_state from action result
  frontend/src/lib/modals/modal-auth/forms/join.svelte
Due: prettier

feat: integrate superforms features (#147)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/styles/app.css
Due: prettier

chore: rename JoinSchema to AuthSchema
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/+layout.server.ts
Due: prettier

fix: add postgreSQL ltree extension in initial migration
  backend/apps/comment/migrations/0001_initial.py
Due: isort-black

fix: add postgreSQL ltree extension in initial migration (#148)
  backend/apps/comment/migrations/0001_initial.py
Due: isort-black

fix: registration form validation with superforms
  frontend/src/lib/components/ui/toast/index.ts
  frontend/src/lib/modals/_components/base-modal.svelte
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/+layout.svelte
Due: prettier

refactor: auth form actions and message
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
Due: prettier

refactor: rename superforms and move actions
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/+layout.server.ts
Due: prettier

refactor: rename superforms and move actions (#149)
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/+layout.server.ts
Due: prettier

fix: profile select modal profile list
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
Due: prettier

feat: add banner field to profile model
  backend/apps/user/admin.py
  backend/apps/user/migrations/0003_profile_banner.py
  backend/apps/user/models.py
  backend/media/banner/.gitignore
Due: isort-black

feat: add banner field to profile model (#151)
  backend/apps/user/admin.py
  backend/apps/user/migrations/0003_profile_banner.py
  backend/apps/user/models.py
  backend/media/banner/.gitignore
Due: isort-black

fix: re-use/fetch profiles efficiently
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
Due: prettier

fix: type safety
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
Due: prettier

fix: ts-ignore
  frontend/src/lib/modals/modal-auth/forms/profile-create.svelte
Due: prettier

fix: refresh/re-use profiles for credentials (#152)
  frontend/src/lib/modals/modal-auth/forms/profile-create.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
Due: prettier

refactor: code split and refactor profile-select component
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
Due: prettier

refactor: move to constants
  frontend/src/lib/constants/limits.ts
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
Due: prettier

refactor: code split and refactor profile-select component (#153)
  frontend/src/lib/constants/limits.ts
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
Due: prettier

refactor: remove manual zod validations and use superforms
  frontend/src/lib/modals/modal-auth/forms/profile-create.svelte
Due: prettier

fix: form server handling
  frontend/src/lib/modals/modal-auth/forms/profile-create.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
Due: prettier

refactor: templates
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-create.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
Due: prettier

chore: remove settings page form actions
  frontend/src/routes/(app)/settings/profile/+page.server.ts
Due: prettier

refactor: remove manual zod validations and use superforms (#154)
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-create.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/(app)/settings/profile/+page.server.ts
Due: prettier

fix: inital data for persistant form values
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-create.svelte
Due: prettier

fix: remove form instance from server and fix initial persistent datas
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/routes/+layout.server.ts
Due: prettier

refactor: create superforms on client (#155)
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-create.svelte
  frontend/src/routes/+layout.server.ts
Due: prettier

feat: add rangers field to community model
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/community/migrations/0005_community_rangers.py
  backend/apps/community/models.py
Due: isort-black

chore: create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: add superforms instance on client done validations
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

chore: cleanup some stuff
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

Update frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

Update backend/apps/api/viewsets/community/__init__.py
  backend/apps/api/viewsets/community/__init__.py
Due: isort-black

fix: resolve issues with rangers migrations and community serializer
  backend/apps/api/serializers/community/__init__.py
  backend/apps/community/migrations/0005_community_rangers.py
  backend/apps/community/models.py
Due: isort-black

fix: validate form onChange and update state
  frontend/src/lib/modals/modal-create-community/forms/introduction.svelte
Due: prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
