Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

isort-black:
  name: Format python codes
  entry: bash -c 'cd ./backend/ && poetry run poe format'
  language: python

prettier:
  name: Run prettier
  entry: bash -c 'cd ./frontend/ && npm run format'
  language: node

fix: handle login sucess response
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(api)/api/v1/(auth)/login/select/+server.ts
  frontend/src/routes/(api)/api/v1/u/login/select/+server.ts
Due: prettier

fix: server hook auth handle and invalidate on login
  frontend/src/hooks.server.ts
  frontend/src/lib/components/header.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
Due: prettier

fix: eslint lint errors and avatar component
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/ui/avatar.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
Due: prettier

refactor: profile select component on create click
  frontend/src/hooks.server.ts
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(authentication)/+layout.svelte
Due: prettier

chore: update urls
  backend/core/urls.py
Due: isort-black

added: type-mixin to community and post models
  backend/apps/community/migrations/0007_alter_community_type.py
  backend/apps/community/models.py
  backend/apps/post/admin.py
  backend/apps/post/migrations/0004_remove_post_is_public_post_type.py
  backend/apps/post/models.py
  backend/mixins/models/is_public.py
  backend/mixins/models/type.py
Due: isort-black

fix: annotated 'type' field conflict issue
  backend/apps/api/serializers/user/profile/downvoted.py
  backend/apps/api/serializers/user/profile/overview.py
  backend/apps/api/serializers/user/profile/upvoted.py
  backend/apps/api/viewsets/user/__init__.py
Due: isort-black

update: client schema
  frontend/src/lib/clients/v1/schema.ts
Due: prettier

refactor!: type-mixin to community and post models & other fixes (#199)
  backend/apps/api/serializers/user/profile/downvoted.py
  backend/apps/api/serializers/user/profile/overview.py
  backend/apps/api/serializers/user/profile/upvoted.py
  backend/apps/api/viewsets/user/__init__.py
  backend/apps/community/migrations/0007_alter_community_type.py
  backend/apps/community/models.py
  backend/apps/post/admin.py
  backend/apps/post/migrations/0004_remove_post_is_public_post_type.py
  backend/apps/post/models.py
  backend/mixins/models/is_public.py
  backend/mixins/models/type.py
  frontend/src/lib/clients/v1/schema.ts
Due: isort-black, prettier

fix: better resizing and styles
  frontend/src/lib/features/auth/components/profile-create.svelte
Due: prettier

feat: auth profile create component
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/index.ts
  frontend/src/routes/(authentication)/+layout.svelte
Due: prettier

feat: handle file upload
  frontend/src/lib/features/auth/components/profile-create.svelte
Due: prettier

style: avatar edit btn
  frontend/src/lib/features/auth/components/profile-create.svelte
Due: prettier

feat: resize image on change to prevent aliasing
  frontend/src/lib/features/auth/components/profile-create.svelte
Due: prettier

feat: integrate superforms auth done basic validation
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(authentication)/+layout.svelte
  frontend/src/routes/(authentication)/login/+page.server.ts
  frontend/src/routes/(authentication)/login/+page.svelte
Due: prettier

feat: validations for file uploads
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(authentication)/login/+page.server.ts
Due: prettier

fix: profile creation
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/routes/(authentication)/login/+page.server.ts
Due: prettier

fix: onsuccess callback to shows selection page
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/routes/(authentication)/+layout.svelte
Due: prettier

feat: auth profile create component (#198)
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/index.ts
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(authentication)/+layout.svelte
  frontend/src/routes/(authentication)/login/+page.server.ts
  frontend/src/routes/(authentication)/login/+page.svelte
Due: prettier

refactor: remove custom image resizin
  frontend/src/lib/features/auth/components/profile-create.svelte
Due: prettier

fix: sync poetry lock file
  backend/poetry.lock
Due: isort-black

fixes #204; replace empty string from value
  frontend/src/lib/features/auth/components/profile-create.svelte
Due: prettier

chore: cleanup modals nd remove some
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/modals/modal-create-post/.gitkeep
Due: prettier

closes #205; show modal for authorized actions
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/modals/_components/base-modal.svelte
  frontend/src/lib/modals/index.svelte
  frontend/src/lib/modals/modal-auth/forms/index.ts
  frontend/src/lib/modals/modal-auth/forms/join.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-create.svelte
  frontend/src/lib/modals/modal-auth/forms/profile-select.svelte
  frontend/src/lib/modals/modal-auth/index.svelte
  frontend/static/assets/svgs/quibble-group.svg
Due: prettier

chore: move quibble-group from static dir to vectors
  frontend/src/lib/components/vectors/quibble-group.svelte
  frontend/src/lib/modals/modal-auth/index.svelte
  frontend/static/assets/svgs/quibble-group.svg
Due: prettier

style: new illustration for quibbles
  frontend/src/lib/components/icons/logos/quibbles.svelte
  frontend/src/lib/components/vectors/quibble-group.svelte
  frontend/src/lib/modals/modal-auth/index.svelte
Due: prettier

chore: remove user profile creation signal
  backend/apps/user/apps.py
  backend/apps/user/signals.py
Due: isort-black

refactor: check if user has profiles and render accordingly
  frontend/src/routes/(authentication)/+layout.svelte
  frontend/src/routes/(authentication)/login/+page.svelte
Due: prettier

fix: handle error case with registration (#207)
  backend/apps/user/apps.py
  backend/apps/user/signals.py
  frontend/src/routes/(authentication)/+layout.svelte
  frontend/src/routes/(authentication)/login/+page.svelte
Due: isort-black, prettier

refactor: remove actions and rename routes group
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/(auth)/+layout.svelte
  frontend/src/routes/(auth)/login/+page.server.ts
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/register/+page.server.ts
  frontend/src/routes/(auth)/register/+page.svelte
Due: prettier

added: sort post by variations to post listing api
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/post/managers.py
  backend/apps/post/models.py
Due: isort-black

refactor: reduce repeated annotations
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/post/managers.py
Due: isort-black

feat: sort posts by variations to post listing api (#208)
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/post/managers.py
  backend/apps/post/models.py
Due: isort-black

feat: FE implementation of #208
  frontend/src/lib/clients/v1/schema.ts
  frontend/src/lib/features/posts/components/posts-header.svelte
  frontend/src/routes/(app)/+page.server.ts
Due: prettier

fix: client sort navigation
  frontend/src/lib/features/posts/components/posts-header.svelte
Due: prettier

closes #209; implement nprogress on navigation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/+layout.svelte
  frontend/src/styles/nprogress.css
Due: prettier

style: remove fixed width and make it center
  frontend/src/lib/components/header.svelte
  frontend/src/routes/(auth)/+layout.svelte
Due: prettier

style: use grids
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/tailwind.config.ts
Due: prettier

chore: remove aspect ration tw plugin and fix styles
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
Due: prettier

style: (auth) pages responsive (#212)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/components/header.svelte
  frontend/src/lib/features/auth/components/profile-create.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/routes/(auth)/+layout.svelte
  frontend/tailwind.config.ts
Due: prettier

Path conditions:
  isort-black: any of: ^backend/
  prettier: any of: ^frontend/
