Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: isort-black
        name: Format python codes
        entry: bash -c 'cd ./backend/ && poetry run poe format'
        language: python
        files: ^backend/

      - id: prettier
        name: Run prettier
        entry: bash -c 'cd ./frontend/ && npm run format'
        language: node
        files: ^frontend/

fix: urls and migrations
  backend/apps/comment/migrations/0001_initial.py
  backend/apps/comment/migrations/0003_rename_comment_commentmodel_and_more.py
  backend/apps/quib/api/v1/urls.py
  backend/apps/quib/migrations/0001_initial.py
  backend/apps/quib/migrations/0002_initial.py
  backend/apps/quib/migrations/0003_remove_quibmodel_comments.py
  backend/apps/quib/migrations/0004_quibmodel_comments.py
  backend/apps/quiblet/api/v1/urls.py
  backend/apps/quiblet/migrations/0001_initial.py
  backend/apps/quiblet/migrations/0002_initial.py
  backend/apps/quiblet/migrations/0003_rename_quiblet_quibletmodel_delete_quib.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/migrations/0002_rename_profile_profilemodel.py
  backend/config/settings.py
Due: isort-black

chore: remove openapi tags
  backend/apps/quib/api/v1/viewsets.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/user/api/v1/views.py
  backend/apps/user/api/v1/viewsets.py
Due: isort-black

refactor: separate quib model and change models name (#97)
  backend/apps/comment/admin.py
  backend/apps/comment/api/v1/serializers.py
  backend/apps/comment/api/v1/viewsets.py
  backend/apps/comment/migrations/0001_initial.py
  backend/apps/comment/models.py
  backend/apps/quib/__init__.py
  backend/apps/quib/admin.py
  backend/apps/quib/api/__init__.py
  backend/apps/quib/api/v1/__init__.py
  backend/apps/quib/api/v1/serializers.py
  backend/apps/quib/api/v1/urls.py
  backend/apps/quib/api/v1/viewsets.py
  backend/apps/quib/apps.py
  backend/apps/quib/migrations/0001_initial.py
  backend/apps/quib/migrations/0002_initial.py
  backend/apps/quib/migrations/0003_remove_quibmodel_comments.py
  backend/apps/quib/migrations/0004_quibmodel_comments.py
  backend/apps/quib/migrations/__init__.py
  backend/apps/quib/models.py
  backend/apps/quiblet/admin.py
  backend/apps/quiblet/api/v1/serializers.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/quiblet/migrations/0001_initial.py
  backend/apps/quiblet/migrations/0002_initial.py
  backend/apps/quiblet/models.py
  backend/apps/user/admin.py
  backend/apps/user/api/v1/serializers.py
  backend/apps/user/api/v1/views.py
  backend/apps/user/api/v1/viewsets.py
  backend/apps/user/auth.py
  backend/apps/user/forms.py
  backend/apps/user/migrations/0001_initial.py
  backend/apps/user/models.py
  backend/apps/user/signals.py
  backend/common/patches/request.py
  backend/config/settings.py
  backend/config/urls.py
  backend/tests/api/v1/test_user_me_profiles.py
  backend/tests/conftest.py
Due: isort-black

refactor: endpoint to create comment from quib
  backend/apps/quib/api/v1/viewsets.py
Due: isort-black

chore: create flag and custom manager
  backend/apps/comment/managers.py
  backend/apps/comment/models.py
  backend/locale/.gitkeep
  backend/locale/en/LC_MESSAGES/django.po
Due: isort-black

fix: manager and done migrations
  backend/apps/comment/api/v1/viewsets.py
  backend/apps/comment/managers.py
  backend/apps/comment/migrations/0003_commentmodel_deleted_alter_commentmodel_quibbler.py
  backend/apps/comment/models.py
Due: isort-black

refactor: change viewsets and soft_delete logic
  backend/apps/comment/admin.py
  backend/apps/comment/api/v1/urls.py
  backend/apps/comment/api/v1/viewsets.py
  backend/apps/comment/managers.py
  backend/apps/comment/migrations/0004_alter_commentmodel_downvotes_and_more.py
  backend/apps/comment/models.py
  backend/apps/quib/api/v1/urls.py
  backend/apps/quib/api/v1/viewsets.py
  backend/apps/quiblet/api/v1/urls.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/user/api/v1/urls.py
  backend/apps/user/api/v1/viewsets.py
Due: isort-black

refactor: add cleanup manager function
  backend/apps/comment/api/v1/viewsets.py
  backend/apps/comment/managers.py
Due: isort-black

refactor: perform comment soft_deletion (#99)
  backend/apps/comment/admin.py
  backend/apps/comment/api/v1/urls.py
  backend/apps/comment/api/v1/viewsets.py
  backend/apps/comment/managers.py
  backend/apps/comment/migrations/0003_commentmodel_deleted_alter_commentmodel_quibbler.py
  backend/apps/comment/migrations/0004_alter_commentmodel_downvotes_and_more.py
  backend/apps/comment/models.py
  backend/apps/quib/api/v1/urls.py
  backend/apps/quib/api/v1/viewsets.py
  backend/apps/quiblet/api/v1/urls.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/user/api/v1/urls.py
  backend/apps/user/api/v1/viewsets.py
  backend/locale/.gitkeep
  backend/locale/en/LC_MESSAGES/django.po
Due: isort-black

fix: comment model manager inherit treemanager and comments get action
  backend/apps/comment/managers.py
  backend/apps/comment/models.py
  backend/apps/quib/api/v1/viewsets.py
Due: isort-black

refactor: use custom viewset base
  backend/apps/comment/api/v1/serializers.py
  backend/apps/comment/api/v1/viewsets.py
  backend/common/api/bases/__init__.py
  backend/common/api/bases/viewsets.py
Due: isort-black

fix: sync openapi-ts paths with backend api changes
  frontend/src/hooks.server.ts
  frontend/src/lib/clients/v1.ts
  frontend/src/lib/components/modals/auth/forms/profile_select.svelte
  frontend/src/lib/components/pages/home/quib.svelte
  frontend/src/routes/(actions)/auth/+page.server.ts
  frontend/src/routes/(app)/settings/profile/+page.server.ts
Due: prettier

style: change font to roboto and fix tw-font-weights
  frontend/src/app.css
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/auth/forms/login.svelte
  frontend/src/lib/components/pages/home/quib.svelte
  frontend/src/lib/components/pages/home/quibs_header.svelte
  frontend/src/lib/components/pages/home/recent_quibs.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/routes/+page.svelte
  frontend/static/fonts/dm-sans/DMSans-Black.ttf
  frontend/static/fonts/dm-sans/DMSans-Bold.ttf
  frontend/static/fonts/dm-sans/DMSans-ExtraBold.ttf
  frontend/static/fonts/dm-sans/DMSans-ExtraLight.ttf
  frontend/static/fonts/dm-sans/DMSans-Light.ttf
  frontend/static/fonts/dm-sans/DMSans-Medium.ttf
  frontend/static/fonts/dm-sans/DMSans-Regular.ttf
  frontend/static/fonts/dm-sans/DMSans-SemiBold.ttf
  frontend/static/fonts/dm-sans/DMSans-Thin.ttf
  frontend/static/fonts/roboto/Roboto-Black.ttf
  frontend/static/fonts/roboto/Roboto-Bold.ttf
  frontend/static/fonts/roboto/Roboto-Light.ttf
  frontend/static/fonts/roboto/Roboto-Medium.ttf
  frontend/static/fonts/roboto/Roboto-Regular.ttf
  frontend/static/fonts/roboto/Roboto-Thin.ttf
  frontend/tailwind.config.ts
Due: prettier

chore: disable daisyui logs
  frontend/tailwind.config.ts
Due: prettier

feat: config page load to get backend data and change quib design
  frontend/src/lib/components/pages/home/quib.svelte
  frontend/src/lib/functions/format_time.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/+page.ts
Due: prettier

refactor: is_updated flag to check if user upvoted or not
  frontend/src/lib/components/pages/home/quib.svelte
Due: prettier

refactor: add slim schema and change anchor styles
  backend/apps/quib/models.py
  frontend/package-lock.json
  frontend/src/lib/clients/v1.ts
  frontend/src/lib/components/pages/home/quib.svelte
  frontend/src/lib/components/pages/home/recent_quibs.svelte
  frontend/tailwind.config.ts
Due: isort-black, prettier

test: format_date class and methods
  frontend/src/lib/components/pages/home/quib.svelte
  frontend/src/lib/functions/date.test.ts
  frontend/src/lib/functions/date.ts
  frontend/src/lib/functions/format_time.ts
Due: prettier

refactor: include exists action in quibletviewset for checkin
  backend/apps/quiblet/api/v1/serializers.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/quiblet/models.py
Due: isort-black

refactor: change serializers class names and fix quiblet query_set
  backend/apps/comment/api/v1/serializers.py
  backend/apps/comment/api/v1/viewsets.py
  backend/apps/quib/api/v1/serializers.py
  backend/apps/quib/api/v1/viewsets.py
  backend/apps/quiblet/api/v1/serializers.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/user/api/v1/serializers.py
  backend/apps/user/api/v1/views.py
  backend/apps/user/api/v1/viewsets.py
Due: isort-black

refactor: load data via server load function and alter quiblet model
  backend/apps/quib/migrations/0005_alter_quibmodel_content.py
  backend/apps/quiblet/migrations/0003_remove_quibletmodel_cover_quibletmodel_banner_and_more.py
  backend/apps/quiblet/models.py
  frontend/src/lib/clients/v1.ts
  frontend/src/params/.gitkeep
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/+page.server.ts
Due: isort-black, prettier

refactor: add page title and change to data
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

refactor: layout routes
  frontend/src/lib/components/pages/home/recent_quibs.svelte
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
Due: prettier

refactor: move default routes under app routes group
  frontend/src/routes/(app)/+page.server.ts
  frontend/src/routes/(app)/+page.svelte
Due: prettier

refactor: color mixin for quiblet model and avatar v2 component
  backend/apps/quiblet/migrations/0004_quibletmodel_color.py
  backend/apps/quiblet/models.py
  frontend/src/lib/clients/v1.ts
  frontend/src/lib/components/ui/avatar_v2.svelte
  frontend/src/lib/components/vectors/quibble_eye.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: isort-black, prettier

refactor: merge v2 avatar with v1 and fix changes
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/auth/forms/profile_create.svelte
  frontend/src/lib/components/modals/auth/forms/profile_select.svelte
  frontend/src/lib/components/pages/home/quib.svelte
  frontend/src/lib/components/pages/home/recent_quibs.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/components/ui/avatar.svelte
  frontend/src/lib/components/ui/avatar_v2.svelte
  frontend/src/lib/components/vectors/quibble_eye.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

fix: image_field serializer with custom context to build url
  backend/apps/user/admin.py
  backend/apps/user/api/v1/views.py
  frontend/src/lib/components/header.svelte
Due: isort-black, prettier

refactor: layout level data loading and basic layout
  frontend/src/lib/functions/date.ts
  frontend/src/lib/functions/pluralize.ts
  frontend/src/routes/(app)/q/[name]/+layout.server.ts
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

refactor: quiblet serializer and add related quibs
  backend/apps/quib/api/v1/serializers.py
  backend/apps/quiblet/api/v1/serializers.py
  backend/apps/quiblet/api/v1/viewsets.py
  frontend/src/lib/clients/v1.ts
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: isort-black, prettier

fix: schema and add quibs count in response
  backend/apps/quiblet/api/v1/serializers.py
  frontend/src/lib/clients/v1.ts
  frontend/src/routes/(app)/q/[name]/+layout.svelte
Due: isort-black, prettier

feat: highlighted_quibs endpoint and fetch for quiblet
  backend/apps/quib/api/v1/serializers.py
  backend/apps/quib/migrations/0004_quib_highlighted.py
  backend/apps/quib/models.py
  backend/apps/quiblet/api/v1/viewsets.py
  frontend/src/lib/clients/v1.ts
  frontend/src/routes/(app)/q/[name]/+page.server.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: isort-black, prettier

feat: highlight section new design
  backend/apps/quib/api/v1/serializers.py
  frontend/src/lib/clients/v1.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: isort-black, prettier

fix: highlights conditional rendering issue
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

refactor: check valid src before rending avatar
  frontend/src/lib/components/ui/avatar.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

refactor: move components to root level and remove specific components
  frontend/src/lib/components/pages/home/recent_quibs.svelte
  frontend/src/lib/components/quib.svelte
  frontend/src/lib/components/quibs_header.svelte
  frontend/src/routes/(app)/+page.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

chore(deps): integrate 3rd-partyy inner-border tw plugin
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/tailwind.config.ts
Due: prettier

chore(deps): add django-ltree main package
  backend/poetry.lock
  backend/pyproject.toml
Due: isort-black

perf: parallel api calls to optimize requests
  frontend/src/routes/(app)/q/[name]/+page.server.ts
Due: prettier

refactor: dynamic quib component
  backend/apps/quib/api/v1/serializers.py
  backend/apps/quib/api/v1/viewsets.py
  backend/apps/quiblet/api/v1/mixins.py
  backend/apps/quiblet/api/v1/serializers.py
  backend/apps/quiblet/api/v1/viewsets.py
  backend/apps/user/api/v1/serializers.py
  frontend/src/lib/clients/v1.ts
  frontend/src/lib/components/quib.svelte
Due: isort-black, prettier
