Repository quibble-dev/Quibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-black, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: isort-black
        name: Format python codes
        entry: bash -c 'cd ./backend/ && poetry run poe format'
        language: python
        files: ^backend/

      - id: prettier
        name: Run prettier
        entry: bash -c 'cd ./frontend/ && npm run format'
        language: node
        files: ^frontend/

fix: sidebar state issues
  frontend/src/lib/components/sidebar.svelte
Due: prettier

chore: patch works and add community share btn
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

refactor: extra action for /where-to-post
  backend/apps/api/serializers/community/__init__.py
  backend/apps/api/viewsets/community/__init__.py
Due: isort-black

feat: search other communities to post feature
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

feat: search /where-to-post on submit page (#287)
  backend/apps/api/serializers/community/__init__.py
  backend/apps/api/viewsets/community/__init__.py
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/features/auth/components/profile-select.svelte
  frontend/src/lib/pages/q/create/step_2.svelte
  frontend/src/lib/pages/q/create/step_3.svelte
  frontend/src/lib/pages/q/create/step_4.svelte
  frontend/src/routes/(app)/q/[name]/+layout.svelte
  frontend/src/routes/(app)/q/[name]/+page.svelte
  frontend/src/routes/(app)/submit/+page.svelte
Due: isort-black, prettier

refactor: use filterset_class for community
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/community/filters.py
  backend/core/settings.py
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(app)/submit/+page.svelte
Due: isort-black, prettier

chore: remove ghost imports
  backend/apps/api/viewsets/community/__init__.py
Due: isort-black

refactor!: custom filterset_class for community (#293)
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/community/filters.py
  backend/core/settings.py
  frontend/src/lib/api/v1.d.ts
  frontend/src/routes/(app)/submit/+page.svelte
Due: isort-black, prettier

feat: focus community search input on dropdown open
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

fix: eslint error
  frontend/src/routes/(app)/submit/+page.svelte
Due: prettier

fix: post actions state based styles
  frontend/src/lib/features/posts/components/post-actions.svelte
Due: prettier

feat: share function with extra props
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
Due: prettier

style: center multiple toasts in toaster component
  frontend/src/lib/components/ui/toast/toaster.svelte
  frontend/src/lib/features/posts/components/post-actions.svelte
Due: prettier

style: post and comment action components
  frontend/src/lib/features/comments/components/comment-actions.svelte
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/styles/app.css
Due: prettier

feat: comment delete handler
  frontend/src/lib/features/comments/components/comment-actions.svelte
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

refactor: mark comment as deleted instead
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
Due: prettier

feat: mark comment as deleted by ID (#295)
  frontend/src/lib/features/comments/components/comment-actions.svelte
  frontend/src/lib/features/comments/components/comment-block.svelte
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/routes/(app)/q/[name]/posts/[id]/[slug]/+page.svelte
  frontend/src/styles/app.css
Due: prettier

fix: delete post and invalidate route
  frontend/src/lib/features/posts/components/post-actions.svelte
Due: prettier

fixes: 297; handle non-annotated cases
  backend/apps/api/serializers/post/__init__.py
Due: isort-black

closes: #299; add vercel analytics
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/+layout.svelte
Due: prettier

chore(deps): update requirements.txt
  backend/requirements.txt
Due: isort-black

chore(deps): update requirements.txt with dev deps
  backend/requirements.txt
Due: isort-black

chore: proper vercel analytics injection
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
Due: prettier

fix: use foreignkey for post__comment field
  backend/apps/comment/models.py
  backend/apps/post/models.py
Due: isort-black

Revert "chore: proper vercel analytics injection"
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
Due: prettier

Reapply "chore: proper vercel analytics injection"
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
Due: prettier

Revert "fix: use foreignkey for post__comment field"
  backend/apps/comment/models.py
  backend/apps/post/models.py
Due: isort-black

fix: delete related comments when delete post first
  backend/apps/post/models.py
Due: isort-black

refactor: use FK instead M2M
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/comment/migrations/0004_comment_post.py
  backend/apps/comment/models.py
  backend/apps/post/migrations/0005_remove_post_comments.py
  backend/apps/post/models.py
Due: isort-black

fix: serializer with base ratio model serializer
  backend/apps/api/bases/serializers.py
  backend/apps/api/serializers/comment/__init__.py
  backend/apps/api/viewsets/post/__init__.py
Due: isort-black

chore: add
  backend/apps/api/serializers/post/__init__.py
Due: isort-black

fix: openapi schema
  backend/apps/api/viewsets/post/__init__.py
Due: isort-black

Update backend/apps/comment/migrations/0004_comment_post.py
  backend/apps/comment/migrations/0004_comment_post.py
Due: isort-black

refactor: openapi schema and comment_count field
  backend/apps/api/bases/serializers.py
  backend/apps/api/serializers/post/__init__.py
  backend/apps/post/managers.py
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
Due: isort-black, prettier

refactor: safe get_ratio
  backend/apps/api/bases/serializers.py
Due: isort-black

Update backend/apps/api/viewsets/post/__init__.py
  backend/apps/api/viewsets/post/__init__.py
Due: isort-black

Revert "Update backend/apps/api/viewsets/post/__init__.py"
  backend/apps/api/viewsets/post/__init__.py
Due: isort-black

fix: comment model referencing to FK (#302)
  backend/apps/api/bases/serializers.py
  backend/apps/api/serializers/comment/__init__.py
  backend/apps/api/serializers/post/__init__.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/comment/migrations/0004_comment_post.py
  backend/apps/comment/models.py
  backend/apps/post/managers.py
  backend/apps/post/migrations/0005_remove_post_comments.py
  backend/apps/post/models.py
  frontend/src/lib/api/v1.d.ts
  frontend/src/lib/features/posts/components/post-actions.svelte
  frontend/src/lib/features/posts/components/post-card.svelte
Due: isort-black, prettier

feat: community more dropdown with delete handler
  frontend/src/routes/(app)/q/[name]/+page.svelte
Due: prettier

refactor: use absolute imports for better support
  backend/apps/api/serializers/community/__init__.py
  backend/apps/api/viewsets/comment/__init__.py
  backend/apps/api/viewsets/community/__init__.py
  backend/apps/api/viewsets/community/topics.py
  backend/apps/api/viewsets/post/__init__.py
  backend/apps/comment/admin.py
  backend/apps/user/auth.py
  backend/apps/user/forms.py
  backend/mixins/models/avatar.py
  backend/mixins/models/created_at.py
  backend/mixins/models/shortuuid.py
  backend/mixins/models/type.py
Due: isort-black
